[2016-09-13 09:40] mikeroberts3000 opened #2 "Is it possible to return the 3D scene geometry somehow?"
Hello there,

This system looks amazing! Great work. I have a couple of quick silly questions.

1. Is it possible to iterate through all the cameras in the scene somehow? There seems to be a command to iterate through all the objects, but not the cameras.

2. Is it possible to return the 3D scene geometry somehow? Globally or per object? Presumably the Unreal Engine internally has access to the 3D

[2016-09-13 17:45] qiuwch commented on #2
Hi, Mike:

1. The cameras can be iterated using 'vget /camera/[id]/[viewmode]' by changing the camera id [id]. But the multi-camera system is not fully implemented yet.

Currently, in my lab we only use two cameras. The second camera is hard-coded in [here](https://github.com/unrealcv/unrealcv/blob/master/Source/UnrealCV/Private/CaptureManager.cpp#L29). I will gradually move these hard-coded bit t

[2016-09-13 21:11] qiuwch opened #3 "vget /objects return empty result"
`vset /viewmode/object_mask` needs to be called before using `vget /objects`, otherwise it will return an empty string instead of returning object name in the scene.

[2016-09-14 00:56] qiuwch opened #4 "Incorrect image generation when ViewMode is changed"
`vget /camera/0/lit` will return depth information when ViewMode is set to `depth`.

[2016-09-14 01:47] #3 closed

[2016-09-14 07:53] hgaiser opened #6 "Object pose command"
First off let me say that this is a very interesting plugin and I will definitely see if I can try to use it at some point to create a synthetic dataset.

Something I've been wanting to try in the near future was to directly learn object poses (w.r.t. the camera) from 2D (possibly combined with 3D) data. Judging by the list of commands I cannot get a pose of an object w.r.t. the camera? What about

[2016-09-14 11:21] xtrawurst opened #7 "The RealisticRendering app for Mac is unavailable"
I get a message

Not Found
The requested URL /~qiuwch/unrealcv/binaries//RealisticRendering-mac.zip was not found on this server.

in the browser window.

[2016-09-14 22:05] qiuwch commented on #6
I think you can use `vget /camera/[id]/location`, `vget /camera/[id]/rotation` to get the camera 3D position. and use `vget /object/[obj_name]/location` to get object 3D location. Then use this information to compute object pose w.r.t to the camera. I am not an expert about 3D pose estimation, please correct me if I am wrong. I tend to keep the UnrealCV commands as simple as possible and leave som

[2016-09-14 22:06] qiuwch commented on #4
Need to regenerate the binary in unrealcv.github.io to reflect this fix.

[2016-09-14 22:12] qiuwch commented on #7
Sorry for the inconvenience. The reason is I don't have enough time to build the Mac version yet. Manually compiling binaries for three platforms takes time, especially the code is frequently updated.

I will put a Mac version online tonight. I am also working on setting up a Jenkins CI to solve this issue. The Travis config of this repo just does some very simple testing. Has anyone a good recomm

[2016-09-14 22:12] hgaiser commented on #6
Ah apologies, I looked at the command list [here](https://unrealcv.github.io/reference/commands.html) and didn't see the /object/[obj_name]/location command. Is there also a /object/[obj_name]/rotation? If so, that would indeed be all I need.

As for point clouds, if I receive a mesh it is still relatively hard to get a proper point cloud out of this. Similarly to what you have for creating depth

[2016-09-15 00:15] qiuwch commented on #6
Sorry, the command list is not complete and accurate, I will update it. Currently, there is no `vget /object/[objname]/rotation`, but it is simple to implement, I will add it in the next release.

If my understanding is correct, with mesh data and camera 3d location and rotation, we should be able to transform from the global coordinate to camera coordinate?

[2016-09-15 00:19] perone opened #8 "Cannot open console using Brazilian keyboard"
Cannot open the console on the RealisticRendering example using Brazilian keyboard:

https://en.wikipedia.org/wiki/Portuguese_keyboard_layout

[2016-09-15 00:19] jacobsn commented on #7
It is online now and working on my mac laptop: http://www.cs.jhu.edu/~qiuwch/unrealcv/binaries/RealisticRendering-Mac-65d6144-c25660b.zip

[2016-09-15 00:21] qiuwch commented on #7
@jacobsn Thanks for updating here. I just compiled it and did not have time to fully test it. Let me know if you find any issue.

I will update the website later.

[2016-09-15 00:47] qiuwch commented on #8
Sorry, I have no idea, did you try this key (the center key in the screenshot) while holding shift?

![key](https://cloud.githubusercontent.com/assets/1688418/18534696/fb1319be-7abb-11e6-8634-2c0f3c07f7c8.PNG)

[Unreal Engine AnswerHub](https://answers.unrealengine.com/) might be a better place to find the answer .

It is also possible to find the answer by digging inside the Unreal Engine source

[2016-09-15 09:45] fredericp commented on #8
Add this to `RealisticRendering/Saved/Config/Input.ini`

[code]

Now you can open the console with F10

[2016-09-15 12:20] marioyc opened #10 "Parsing object instance mask"
So, I was the section about the object mask at reading generate-images.ipynb, and I was wondering which is the inefficient part, is it getting the mask or getting the colors?

Also, are the colors going to be constant through time for each object?

[2016-09-15 13:25] marioyc commented on #10
If I understood correctly the execution order is (probably with other things in the middle that I wasn't able to follow):

1. FCameraCommandHandler::GetObjectInstanceMask
2. FCommandDispatcher::Exec
3. FPlayerViewMode::Object
4. PaintObjects

and then PaintObjects calls FObjectPainter::Get().PaintRandomColors() which makes it seem like an object wouldn't have the same color across time.

[2016-09-15 21:41] qiuwch commented on #10
Yes, the color is constant through time. See [here] (https://github.com/unrealcv/unrealcv/blob/master/Source/UnrealCV/Private/ObjectPainter.cpp#L134). This code is a bit messy and needs to be cleaned up.

Getting colors for objects only needs to be executed once, so the speed does not matter much. Getting object mask needs to be executed every frame. All the performance bottleneck should be in her

[2016-09-16 01:04] perone commented on #8
Thanks @qiuwch and @fredericp, I added the config into `input.ini` and it worked fine.

[2016-09-16 01:04] #8 closed

[2016-09-16 01:55] tebishop opened #11 "changing resolution"
I found after searching online that it's possible to change the resolution of the environment by using the 'setres WxH' command in the game console.

This works for display on screen, but when using the generate-images code, the results are still at 640x480, apart from the object mask, which is at the desired resolution. How would the render size (and perhaps other render settings) be passed on co

[2016-09-16 01:59] qiuwch commented on #11
It is currently hard-coded [here](https://github.com/unrealcv/unrealcv/blob/master/Source/UnrealCV/Private/GTCaptureComponent.cpp#L19).
I will make this configurable in the next release (in a few days). I am working on setting up the Jenkins CI system.

[2016-09-16 23:31] mikehaney24 opened #12 "The plugin is not compilable"
I've attempted compiling the plugin for both Linux and Windows, and it doesn't seem able to do that. Unfortunately, the errors are opaque, in that I don't know the next one until I resolve the one I'm looking at, but the first one is:
`
LogCompile: /where/I/have/UE4/Engine/Plugins/unrealcv/Source/UnrealCV/Public/TcpServer.h(50): Error: Property is exposed to the editor or blueprints but has no Cat

[2016-09-17 01:47] qiuwch commented on #12
Hi, @mikehaney24

Are you trying to use the plugin binary in [the tutorial](https://unrealcv.github.io/tutorial/plugin.html) or try to build the plugin from source code yourself?

What is your Unreal Engine version?

[2016-09-17 05:09] mikehaney24 commented on #12
On Linux, I unzipped unrealcv_master.zip of unrealcv into
Engine/Plugins/unrealcv, ran ./GenerateProjectFiles.sh, applied the openexr
patch, then attempted to make UE4Editor, which led to that compilation
error. I'm using UE 4.12.5.

On Fri, Sep 16, 2016 at 6:47 PM Weichao Qiu <notifications@github.com>
wrote:

[2016-09-17 05:16] qiuwch commented on #12
I did not tried it that way. The plugin is already compiled, so it is not
necessary to compile it with the engine. I will try it with your steps when
I arrive lab tomorrow.

The way I use it is installing engine first (includes compiling for Linux).
Then copy the plugin to my project folder, then it will appear in the
plugins of UE4Editor. I use it most often in Windows and install it to my
projec

[2016-09-19 02:28] qiuwch commented on #12
Hi, @mikehaney24

I tried what you did, I also got the error you reported. You can delete the line 49 of TcpServer.h
`UPROPERTY(VisibleAnywhere, BlueprintReadOnly)` then it should be able to compile. I will update this in the next version.

But I think it is not necessary to build the plugin together with the Engine. You can either use the compiled plugin binary or only compile the plugin itself (

[2016-09-19 02:56] mikehaney24 commented on #12
that seems to have fixed it!

[2016-09-19 02:56] #12 closed

[2016-09-19 16:35] dineshreddy91 opened #13 "Compiling the plugin error"
Currently i am trying to compile the unrealCV plugin into Unreal engine 4.12. I get this error during make

UnrealEngine/Engine/Plugins/unrealcv/Source/UnrealCV/Public/TcpServer.h(50): Error: Property is exposed to the editor or blueprints but has no Category specified.

Property is exposed to the editor or blueprints but has no Category specified.

which version of unreal engine are you working w

[2016-09-19 16:37] mikehaney24 commented on #13
you should look at the issues before posting a new one

https://github.com/unrealcv/unrealcv/issues/12

[2016-09-19 16:37] qiuwch commented on #13
@dineshreddy91 Please have a look at #12

[2016-09-20 11:52] dineshreddy91 opened #14 "Getting the projection matrix of camera"
I would like to get the projective camera matrix of the rendering engine. But the code is commented out in the plugin.

FExecStatus FCameraCommandHandler::GetCameraProjMatrix(const TArray<FString>& Args)
{
	// FMatrix& ProjMatrix = FSceneView::ViewProjectionMatrix;
	// this->Character->GetWorld()->GetGameViewport()->Viewport->
	// this->Character
	return FExecStatus::InvalidArgument;
}

Is it poss

[2016-09-20 22:47] qiuwch commented on #14
Hi, @dineshreddy91

This is an unfinished feature and I am working on it.
The camera matrix for FOV 90 is fixed, I need to ask my co-author for the exact value.

[2016-09-21 08:12] hgaiser commented on #6
Hey, sorry for my late reply.

It should be possible with that information, but (and I am an UnrealEngine novice) isn't there a better way? Given the mesh data and camera pose you in theory have all the data you need, but you would need to raycast for each "pixel" in your 3D point cloud (using your camera pose and parameters). How is this currently done for the depth image which is generated? It s

[2016-09-21 08:24] dineshreddy91 commented on #14
@qiuwch thanks for the reply. can you provide the projection matrix for FOV 90. i wanted to test the odometry and am stuck without the intrinsic matrix of the camera.

[2016-09-21 09:07] edz-o commented on #14
Hi, @dineshreddy91

The focal length f = W / 2 / tan(FOV/2) = W/2, where W is the width of the image which is 640 px here. And  the pixels are square.

[2016-09-21 13:26] dineshreddy91 commented on #14
Hi @edz-o
According to your formula the k matrix comes out to be

 K = [320 0 320
       0   320 240
       0    0     1]
The depth to point cloud conversion using this intrinsic matrix is very distorted. Previously for opengl to camera matrix conversion i have used this https://strawlab.org/2011/11/05/augmented-reality-with-OpenGL. i wanted to access the OpenGL projection matrix to convert to the

[2016-09-22 01:07] qiuwch commented on #14
@dineshreddy91 If this is not what you are looking for, then I need to spend one or two days to read Unreal Engine's code to find what is the correct answer.

[2016-09-23 01:23] #7 closed

[2016-09-23 11:59] wymdhr opened #16 "Load unrealcv plugin failed"
I download the zip on your tutorial page https://unrealcv.github.io/tutorial/plugin.html, and copied to the Plugins folder of Unreal Engine (Engine/Plugins).
 And the error is I can't open the unreal because failed to load the UnrealCV  module.
 I try to put it in my project and failed, either. tip is missing or incompatible modules in UnrealCV plugin
Thanks for your help～

[2016-09-23 12:22] wymdhr commented on #16
OK，，I find issue #12，and it worked fine, but is there any way that don't need to recompile unreal?

[2016-09-23 14:49] qiuwch commented on #16
I conjecture you are using a Mac, is it right?
I did not contain a compiled mac version in the zip file yet, but this will be solved, because #15 #7 .

[2016-09-24 00:08] kenryd opened #17 "Objects other than StaticMeshActors do not show up in modes other than lit"
I'm relatively new at using Unreal Engine. I've created a simple map with a StaticMeshActor floor as well as a Landscape object using the UE4Editor. When I hit "Play" in the editor, the entire scene is visible. However, when I switch viewmodes to depth (or normal, or object_mask), then the non-static-mesh objects are no longer visible. I've found that this occurs with other objects as well. If I e

[2016-09-25 23:46] rnewell4 opened #18 "Set Object Position Command"
Hi Weichao,

When you get a chance could you add a command to set object locations? It would be helpful to be able to dynamically alter the scene.

[2016-09-25 23:49] qiuwch commented on #18
Yes, I am working on this.

[2016-09-25 23:51] #10 closed

[2016-09-25 23:55] qiuwch opened #19 "Optimize unrealcv performance"
Currently, the speed of unrealcv is roughly 10 - 20fps on my workstation, it is enough for generating image and video dataset, but not enough for interesting tasks such as reinforcement learning. Optimizing its speed will be the next focus.

[2016-09-27 18:03] Noelok opened #20 "Object mask"
Hi Weichao,

Awesome work!! I'm new to Unreal, I would like to use unrealCV for a deep learning project. I have issues to assign a color ID to objects. After I packaged my unreal (4.12) project, I can't access to the command line. The only way to connect to the package is through a command console. Then I can switch from depth to normal to lit. Using the "vset /object/[object_name]/color 255 0 0"

[2016-09-29 14:50] qiuwch commented on #6
@hgaiser Sorry for delay, I was quite busy last week. I add commands `vget /object/[id]/rotation`, `vset /object/[id]/location`, `vset /object/[id]/rotation` to the master branch. You can try it if you know how to compile the code.
I did NOT update the binaries on the website, and will update them later.

I am working on getting the camera parameters. This should be much easier than computing by r

[2016-09-29 14:52] qiuwch commented on #18
@rnewell4 I finish adding these commands in #21.  My next step is getting collision information.

[2016-09-29 14:52] #16 closed

[2016-09-29 14:53] qiuwch commented on #13
Code is updated in #21

[2016-09-29 14:53] #13 closed

[2016-09-29 15:03] hgaiser commented on #6
@qiuwch thank you for your reply and thank you for adding those commands. I did indeed manage to compile the plugin a while back so that will be fine. Unfortunately I have some other project I need to take care of first so I have put this on hold. Hopefully I can pick this up again in a week or two.

I agree that using camera parameters and the depth image is easier. I'll have to look into convert

[2016-09-29 15:03] #6 closed

[2016-09-29 21:17] qiuwch commented on #6
@hgaiser My pleasure. Let me know if you need further assistance.

[2016-09-29 22:08] qiuwch commented on #17
I fixed the issue in #22. It is a mistake I made when changing the rendering setting.

[2016-09-29 23:34] jason718 opened #23 "How to embed a new game?"
Hi Weichao,

How to embed my own game with this beautiful unrealcv plugin? I built some maps and want to use this program to get some screenshots for research. How can I do this?

Thanks!

[2016-10-01 00:41] mikeroberts3000 commented on #2
Ah, got it. Thanks for the reply. I'll send you an email :)

[2016-10-01 17:45] mikeroberts3000 opened #24 "it would be better to use hdf5 files to export depth images, rather than exr"
Hello,

In my opinion, it would be better to use hdf5 (http://www.h5py.org/) to export depth images, rather than exr. My rationale here is as follows:

1. As a data exchange format, hdf5 is more widely supported than exr.
2. It is easier and requires fewer external dependencies to read hdf5 files in Python and Matlab.
  * Reading exr files requires OpenCV, which is a heavyweight dependency, and at

[2016-10-01 17:47] mikeroberts3000 commented on #23
Also curious about this :)

[2016-10-01 17:52] qiuwch commented on #23
Hi, @jason718 @mikeroberts3000:

I am writing a tutorial about this. I will add a new repo called unrealcv/playground, which contains an Unreal Engine project to demonstrate this.

@jason718, sorry for late reply, really busy with other feature requests of unrealcv recently.

[2016-10-02 05:19] mikeroberts3000 commented on #24
@qiuwch In case it would be helpful, I'd be happy to provide a simple standalone C++ demo that saves a float array as an hdf5 file. Please do send me a note if you think this would be helpful.

[2016-10-02 06:05] mikeroberts3000 opened #25 "errors when trying to work with UnrealCV plugin: "Plugin missing or incompatible""
Hello there,

I'm attempting to install the UnrealCV plugin into the Unreal Engine. I'm using Unreal Engine 4.12.5 on OSX. I've followed the instructions on this page:

https://unrealcv.github.io/tutorial/plugin.html

But when I try to do the "Open Menu -> Edit -> Plugins, make sure UnrealCV is installed and enabled" step, I get the following error when I try to load an Unreal project. For what it

[2016-10-02 19:57] qiuwch commented on #25
Hi, @mikeroberts3000:

Sorry for this inconvenience. I did not include a compiled version of the plugin for Mac yet.

To solve this, there are two solutions.
1. You can create a C++ unreal project, when you open that project. The unrealcv will be compiled. If it is just a blueprint project, no compilation will be done.
2. I can provide you a compiled version for mac. I can send you with email toni

[2016-10-02 20:08] qiuwch commented on #24
@mikeroberts3000:

Thanks. I think this is an awesome idea. I am considering how to get more complex and structural data (the mesh you mentioned in another thread, for example) from unrealcv. A good file format that can support that is ideal.

The constraint I am facing is using 3rd library in UE4 is tricky. I prefer to use the 3rd libraries bundled with UE4 if possible, but if it is important to

[2016-10-02 20:10] mikeroberts3000 commented on #25
@qiuwch Do you mean a compiled version of the UnrealCV plugin? Interestingly, the content downloaded by running `curl -L http://unrealcv.github.io/install.sh | sh` (as specified in the tutorial) doesn't contain any binaries. But then after you try to open the project in Unreal, a `Binaries` folder gets created with `Win64` and `Linux` subfolders, but no `Mac64` folder. Is this what you mean? Is th

[2016-10-02 20:10] qiuwch commented on #16
@wymdhr  Is your problem the same as #25?

[2016-10-02 20:18] qiuwch commented on #25
@mikeroberts3000

That is a bit strange. The downloaded zip file should already contain `Binaries/Win64`, `Binaries/Linux` without needing to run Unreal. I just tried this.

I totally agree with you. The missing binary for mac is something I need to do. There are also many unfinished parts of the website I need to spend time with. Currently, the building process is: I need to build the plugin in t

[2016-10-02 20:19] qiuwch commented on #24
Actually, I am also considering yaml or xml. But not sure whether the overhead is too big to bear.

[2016-10-02 20:20] mikeroberts3000 commented on #24
@qiuwch Sure thing, happy to help.

I was thinking about this yesterday too. I 100% agree with your assessment. EXR is a tolerable format for depth images, but for other more general data streams you might want to export, it would be very unpleasant to try to pack them into EXR images, like triangle meshes, etc. HDF5 would be much better for more general data streams.

I'll start by providing the

[2016-10-02 20:25] mikeroberts3000 commented on #24
@qiuwch I think XML would be tolerable as well. Obviously HDF5 would be better for large assets. But even for dense image data, it wouldn't be the end of the world to store this in XML. I believe the COLLADA interchange format between 3D modeling programs is totally XML based, and people manage to make that work for large assets. Obviously XML will take longer than necessary to load. But I think a

[2016-10-02 20:30] mikeroberts3000 commented on #24
@qiuwch One more thing. The a raw binary blob could also be dumped to a file. This is unsafe and non-portable across machines due to endian issues, but as long as you're running the UnrealCV Python/Matlab client on the same machine as the Unreal game, this strategy is safe. Of course, requiring that these two applications be running on the same machine it is certainly an unpleasant limitation, eve

[2016-10-02 20:36] mikeroberts3000 commented on #25
@qiuwch Ah, my mistake, yes the zip file does already contain the Binaries folder. Without needing to run Unreal. So that is my problem. If there is anything I can do to help maintain the mac part of the build, please do lmk :)

[2016-10-03 01:41] wymdhr commented on #16
Yes, we got the error information. Maybe there miss some files in the plugin folder, so follow issue #12, modify one line in source code, recompile the unreal may solve this error.

[2016-10-03 17:41] Noelok commented on #20
Hello,
Am I the only one with this issue?

[2016-10-03 17:44] qiuwch commented on #20
"IndentationError: unexpected indent". This sounds like a python error. Where did you see this error? Can you paste more detailed error message?

For the `can not connect to` error, there might be several reasons. The most common issue is port 9000 is in use. Can you run `vget /unrealcv/status` and see what it returns?

[2016-10-03 19:29] Noelok commented on #20
Hi Weichao,
Thank you for your reply.
Here is a screenshot of the error msg I've got when I tried to connect to my unreal scene with unreal launched from a command shell.
![capture](https://cloud.githubusercontent.com/assets/22223962/19049550/c72b0780-895f-11e6-8837-377005515353.JPG)

The UnrealCV plugin is installed :
![capture2](https://cloud.githubusercontent.com/assets/22223962/19049634/177c1b

[2016-10-03 22:39] qiuwch opened #26 "Blueprint objects are not shown in the object instance annotation"
According to the code in https://github.com/unrealcv/unrealcv/blob/ff8da15/Source/UnrealCV/Private/ObjectPainter.cpp#L191. Only StaticActor is considered as an object, so when calling `vget /objects`. Blueprint objects used in a game will not be considered and will be just ignored.
This will be fixed in the next release.

[2016-10-03 22:40] #17 closed

[2016-10-03 22:44] qiuwch commented on #20
For the first question: when you are not able to connect to the editor using python script, you can still type command in the console of UE4 Editor. It will be something looks like this, I want to see the status in the editor.

![screenshot from 2016-10-03 18 44 27](https://cloud.githubusercontent.com/assets/1688418/19056801/6fab09f8-8999-11e6-8e02-f1f938b63518.png)

[2016-10-04 01:54] mikeroberts3000 commented on #24
@qiuwch In case it is helpful, I'm including an end-to-end minimal code example for writing hdf5 files from C++, and reading them in Python.

This code example assumes that your compiler knows where to find the HDF5 C++ headers and binary files. I obtained these files on OSX by typing `sudo port install hdf5` in the terminal.

This code also assumes that your compiler knows where to find the [andr

[2016-10-05 19:54] qiuwch opened #27 "LOD support for maps needs to be improved"
Current implementation [here](https://github.com/unrealcv/unrealcv/blob/69f213/Source/UnrealCV/Private/ObjectPainter.cpp#L310) assumes the map is only with one LOD (Level of detail), which is not true for many complex maps.

This needs to be solved.

[2016-10-06 19:46] oliviersoares commented on #20
Hi @qiuwch, thanks for this plugin.

I have a very similar issue. I compiled everything from source for UE 4.13.
I created a package from the Realistic Rendering UE4 scene in the marketplace.

When starting the standalone scene, then trying to connect the client from python, it's failing to connected (see screenshot below).

<img width="1323" alt="screenshot" src="https://cloud.githubusercontent.c

[2016-10-06 19:48] qiuwch commented on #20
Hi @oliviersoares:

I did not do a lot of testing with 4.13 yet. This is weird, let me do some diagnosis and get back to you tomorrow.

[2016-10-06 20:59] oliviersoares commented on #20
Thanks @qiuwch, much appreciated.

I did a test with 4.12, compiled from the same source (latest github) and I could make everything work nicely. So it seems to be an issue with 4.13.

Note that I still have the same issue Noel described which is when playing the scene directly from Unreal, the client won't connect. However it will connect properly when building a standalone package.

As a side no

[2016-10-07 00:38] Noelok commented on #20
Hi Weichao,
Sorry for my late reply.
So in 4.12, when I run the command "vget /unrealcv/status"
I got this :
![capture](https://cloud.githubusercontent.com/assets/22223962/19175456/9d5b8798-8beb-11e6-9ea3-7d928b09f7a7.JPG)

[2016-10-15 19:57] daeilkim opened #29 "Support for Linux Unreal 4.13?"
Wondering which versions of Unreal this plugin is supported for. Tried to install the plugin via your instructions after the build for Linux and got this error:

/home/daeil/Programs/UnrealEngine4.13/Engine/Plugins/unrealcv/Binaries/Linux/libUE4Editor-UnrealCV.so: symbol _ZN7UObject7PreSaveEv, version UE4 not defined in file libUE4Editor-CoreUObject.so with link time reference
[2016.10.15-19.55.00

[2016-10-15 20:03] qiuwch commented on #29
This plugin is developed and tested in 4.12. We are working on solving the compatible issue with 4.13, which is also reported in #20, I will report my progress to you later.

Please try `git clone -b 4.12 https://github.com/EpicGames/UnrealEngine.git`.
Epic Games just updated their [instruction page](https://wiki.unrealengine.com/Building_On_Linux) a few days ago from 4.12 to 4.13.

[2016-10-15 20:19] qiuwch opened #30 "4.13 support"
UnrealCV is developed and tested in Unreal Engine 4.12. A few users experienced compatible issues with 4.13. #29 #20.  We are working on fixing these issues and new updates will be posted here.

Currently, it is recommended to use 4.12.

[2016-11-15 19:15] joe-siyuan-qiao opened #34 "UnrealCV crashed when the number of actors was greater than about 1000."

[2016-11-16 09:33] iory opened #35 "Change TCP port at game start"
I would like to launch multi thread UE4 for simulation and
 change tcp port(default 9000) at game start.
I know that I should manually type
[code]
in console comand line.
But I would like to launch UE4 simulation automatically.
Please Help me.

[2016-11-17 05:27] qiuwch commented on #35
I am making this port configurable in a config file. Just finish a conference deadline, the code will be updated very soon.

[2016-11-17 05:36] qiuwch commented on #34
Will be fixed in the next release.

[2016-11-29 20:53] qiuwch commented on #30
Fixed in 4.13 branch.

[2016-11-29 20:53] #30 closed

[2016-11-29 21:01] qiuwch opened #38 "Which version of UE4 should be supported in compiled binary"
UnrealCV is originally developed for 4.12 and has been updated to support up to 4.14 while also maintaining the backward compatibility. So compiling the source code can support version from 4.12 - 4.14.

I will provide compiled unrealcv binaries in [release page](https://github.com/unrealcv/unrealcv/releases), but I only have the resource to provide compiled binary for only one UE4 version, which

[2016-11-29 21:03] qiuwch commented on #29
@daeilkim, I was very busy during the past few weeks. I already updated the code to support 4.13 and 4.14. And will upload the plugin binaries later today. Sorry for this late update.

I will close this issue. If you find this issue still exists, please feel free to reopen it.

[2016-11-29 21:03] #29 closed

[2016-11-29 21:04] #25 closed

[2016-11-29 21:04] qiuwch commented on #26
Fixed in 0.3.0

[2016-11-29 21:04] #26 closed

[2016-11-29 21:06] #4 closed

[2016-11-29 21:07] #23 closed

[2016-11-29 21:07] qiuwch commented on #23
Will include this in http://unrealcv.readthedocs.io/en/latest/ (still under construction).

[2016-11-29 21:09] qiuwch commented on #19
Another thing needs to be done is better object mask format. Current format (png) is hard to parse and slow to use. Also I need to implement a direct communication between python and UE4, instead of saving to the disk first.

[2016-11-30 06:54] sudk1896 opened #39 "How to create a game binary of a virtual world for UnrealCV ?"
Hey,
I want to create a short game binary, similar to the one provided on the `unrealcv` website. How would I go about it ?
Thanks.

[2016-11-30 19:20] qiuwch commented on #39
HI, @sudk1896:

Do you want to know how to package a game, or how to put the game to our website?

I am writing a tutorial for the first one, which will take me a bit more time.
For the second one, you can host your content to anywhere, and put a link to this page by making a pull request.  https://github.com/unrealcv/unrealcv.github.io/blob/master/_pages/model_zoo.md

[2016-12-01 07:43] sudk1896 commented on #39
@qiuwch : Thanks for the reply. I wanted to know how to package a game. Once I make it, I will surely upload it. Any idea of a tentative time by which you would finish the tutorial ?
Regards.

[2016-12-06 22:25] mtsakaguchi opened #40 "Object masks show up in UE4Editor but not in saved png file"
Hello,

I am using the UnrealCV plugin with Unreal Engine 4.12. I've imported several bicycle .fbx files as type "StaticMeshActor" for a machine learning application and am having issues with the object_mask viewmode. Changing the viewmode to object_mask (vset /viewmode object_mask) in the UE4Editor results in what I am looking for - each bicycle instance is a different color (see screenshot of UE

[2016-12-08 05:49] sudk1896 opened #41 "Problem with UnrealCV plugin for Unreal Engine 4.12"
Hey, I'm trying to compile a game binary using unrealcv plugin but am unable to do so.
[code]
This is the error I'm getting.
The complete error log is  [here](http://pastebin.com/sJVmcNnk)

[2016-12-08 05:55] qiuwch commented on #41
Hi, @sudk1896
Please see #13.
This is fixed in the develop branch, but I am still doing testing and did not merge it to the master branch yet.
I am writing the docs [here](https://qiuwch.gitbooks.io/unrealcv/content/). It is still in a draft status, so I did not publish it anywhere.
I am very busy working integrating protobuf with unrealcv and sorry for the late reply.

[2016-12-08 05:57] sudk1896 commented on #41
@qiuwch : Thanks. Will do.

[2016-12-08 07:36] qiuwch commented on #40
Hi, @mtsakaguchi

"The image is blank" do you mean you got a complete white/black image or you did not get an image at all?

If you did not get an image, that might be related to a bug I already fixed. If the image is purely white/black, that is an issue I am not aware of.

Another thing you can try is using the UE4 built-in command `shot` to take a screenshot.

[2016-12-09 00:08] mtsakaguchi commented on #40
@qiuwch

Thanks for the response.

When I say "the image is blank" I mean that the saved .png file is a complete white image.

I was able to try the <code>shot</code> command that you mentioned and if I switch to /viewmode object_mask and take a screen shot the .png file shows the bicycles as colored objects.

Ideally I would like to create a dataset using a script like the example "generate_image

[2016-12-16 05:30] #41 closed

[2016-12-16 05:33] #38 closed

[2016-12-16 05:33] #27 closed

[2016-12-16 05:36] qiuwch commented on #40
Hi @mtsakaguchi

To be honest, I have no idea what went wrong. I add a new command `vrun` in v0.3.0, which enables you to run any UE4 command through UnrealCV. So you can use `vrun shot` as a workaround.

I know this is far from ideal and I want to know how to fix this issue. But I need more details to figure out what went wrong.

[2016-12-16 05:37] qiuwch commented on #39
Hi @sudk1896,

I fixed a bug that will prevent packaging a game using the `Package game` option from the UE4Editor menu. If you update to the v0.3.0 release, you can use the `File - Package Project - [Your platform]` to create a binary.

[2016-12-16 05:39] qiuwch commented on #35
I added this feature in release v0.3.0. And will update the documentation later.

[2016-12-16 05:41] qiuwch commented on #34
Increase the maximum number, but might cause issue such as the same color for two objects because of numerical instability. Need to find a better way of getting object mask.

[2016-12-16 05:44] qiuwch commented on #20
Hi, @Noelok @oliviersoares:

Sorry for getting back to you after such a long delay.
The compatible issue should be fixed in the v0.3.0, if you are still interested in using this tool, please give it a try. Thanks.

[2016-12-16 05:44] #34 closed

[2016-12-16 05:48] qiuwch commented on #24
I am working on integrating protobuf with UnrealCV
The development is in the feature/protobuf branch [here](https://github.com/qiuwch/unrealcv/tree/feature/protobuf).

I chose protobuf is because it provides a flexible way to define message and the proto file can naturally serve as documentation.

It is currently in a very early stage and I will keep you updated.

[2016-12-20 19:45] alt2014 opened #44 "Returned depth images for certain scenes contain no data"
Following the unrealcv generate-images tutorial, I tried to get the depth images for the Infinity Blades: Grass Lands scene. However, the image I got back contained no data.

The depth image is supposed to be in the top righthand corner.
<img width="825" alt="extracted images" src="https://cloud.githubusercontent.com/assets/2432044/21365230/5ffcb798-c6a9-11e6-86b8-492db250b292.png">

However, when

[2016-12-20 22:52] Noelok commented on #20
Hi Weichao,
Thanks for the update! We are really interested in using this tool! :)
I'm testing it in 4.13
Thanks!

[2016-12-21 04:44] mikeroberts3000 commented on #44
I am experiencing this also. The depth values returned for this scene are always 1.09. So I just get a 640x480 array of all 1.09 (or in other words, ```np.ones((480,640))*1.09```). The tutorial examples and several other scenes work as expected. But the _Infinity Blades: Grass Lands_ scene does not.

Is there some kind of screen space rendering effect I can turn off in the Unreal Editor to get wor

[2016-12-21 06:39] qiuwch commented on #20
Thanks for feedback and let me know if you find any issue.  : )

[2016-12-21 07:50] qiuwch commented on #44
Hi, @alt2014 @mikeroberts3000

@alt2014 , In the BufferVisulization you saw, there are two types of depth, one is `SceneDepth`, another is `SceneDepthWorldUnits`. They are produced by post process material `SceneDepth.uasset` and `SceneDepthWorldUnits.uasset` respectively. You can use the UE4Editor to open these two files to see how the depth is computed. The visualization you saw is produced by `

[2017-01-05 06:24] benjamin22-314 opened #45 "Is it possible to change the position of a particular object?"
Since we can change the position and orientation of the camera, is it possible to do something similar with the objects in the world?

[2017-01-05 06:25] BenjaminPhillips22 opened #46 "vget /objects command returns 'ok' instead of a list of object names."

[2017-01-10 02:01] taniajtaniaj commented on #40
Hi @qiuwch ,

first, thanks for your great work!
where can I find the fix for the object_mask image? when i try to dump it, the view mode switches to object_mask but not file is created. for other modes (lit, normal, etc.) everything works fine.

thank you,
Tania

[2017-01-10 15:47] qiuwch commented on #45
It is possible, I will show how to do this in the [playground project](https://github.com/unrealcv/playground.git) and add this command to the next release.

[2017-01-19 00:11] jason718 commented on #40
Hi @qiuwch ,

I also met this problem!
When I use 'vget /camera/0/object_mask', I got a white picture. However, I can do 'vset /viewmode object_mask' successfully.

Thanks!

[2017-01-21 01:50] jason718 commented on #44
@alt2014 @mikeroberts3000 @qiuwch
Same problem here! But I could get the correct depth image in Editor. Then, I used 'vrun shot' to get the images.
It seems like that the problem is in the 'vget ../depth', not in the depth model (SceneDepthWorldUnits.uasset).

[2017-01-26 08:07] larjung opened #47 "Error when packaging a UE4 project with EXR lib in Linux"
Hi,
I've been following the instructions in [https://docs.unrealcv.org/en/latest/plugin/install/](url), i.e. applied the provided "OpenEXR patch for Linux" during UE4 installation.
The UnrealCV plugin loads perfectly well in the editor, but when I'm packaging my project (using File->Package Project->Linux) I get numerous link error, all related to the OpenEXR module.
For example (the full list is

[2017-02-16 22:30] alexhbkim opened #48 "object_mask in standalone mode"
Hi,

First of all, thank you very much for the plugin. I'm new to unreal and I'm learning a lot going through the code.

I have a question about object_mask in standalone mode. I downloaded the RealisticRendering example and tried the plugin and it works well. I'm attaching the screen shot of running it against the unreal starter content.
![object_mask_editor](https://cloud.githubusercontent.com/a

[2017-02-17 00:55] jskinn opened #49 "Errors with bytes as strings in python3"
The current client version installed with pip does not work with python 3.
It's close, the only issue is the use of strings as byte arrays.

This can be solved by changing \_\_init\_\_.py as follows, which work for both python3.4 and python 2.7 (I tested on 3.4.3 and 2.7.6):
line 73:
``payload = b""``
line 87:
``return payload.decode('UTF-8')``
line 109:
``wfile.write(payload.encode('UTF-8'))``

T

[2017-02-17 03:32] qiuwch commented on #49
Thanks very much. I will update it as you suggested.

[2017-02-17 04:27] qiuwch commented on #48
http://docs.unrealcv.org/en/latest/plugin/package-game/. Try the step "Modify an UE4 config file" to see whether it can solve your problem.

[2017-02-17 17:53] alexhbkim commented on #48
That works great! and thank you very much for your prompt response! :-)

I didn't know about the document link, looks like it has many other useful information there too.

thanks, :-)
alex

[2017-02-17 17:53] #48 closed

[2017-02-22 19:27] J4k3G opened #50 "UnrealCV matlab client 'error: Malformat raw message 'vset''"
I'm trying to use matlab to execute commands in UE4. When I hit 'play' in the editor, followed by running demo.m in matlab, I get the following output in matlab's command window:

Try connecting to localhost:9000
Connected to server
connected to RealisticRendering

However, the response variable reads: 'error: Malformat raw message 'vset''.

Any suggestions are appreciated!

[2017-03-28 10:23] #35 closed

[2017-03-28 12:53] revilokeb commented on #49
@qiuwch @jskinn I am on Anaconda 3.5.2 on Win, did not install via pip, changed __init__.py as above and then python3 setup.py install.

I can connect to the server (client.isconnected() == True), but then I am running always into timeout (ERROR:__init__:317:Can not receive a response from server, timeout after 5.00 seconds) when requesting from server (i.e. e.g. filename = client.request('vget /c

[2017-03-28 13:28] revilokeb commented on #49
Ok I found server logs (RealisticRendering-Win64-65d6144-171cd97\WindowsNoEditor\RealisticRendering\Saved\Logs) and the following lines seem to indicate that port 9000 might indeed be already in use:
[code]

So I guess I need to find a way to make the server listen on another port.

[2017-03-28 14:52] revilokeb commented on #49
I have been running `netstat -ab | more` and now there is no conflict on port 9000 anymore, so problem solved and I can access the server from python3.

To try answering my own question if port on the server side can be easily set to something else: it doesn't seem so, it seems that port is hard coded (alongside image resolution 640x480) into constructor unrealcv\Source\UnrealCV\Public\ServerConfi

[2017-03-28 15:24] revilokeb commented on #49
My above statement about port is not true, see https://github.com/unrealcv/unrealcv/issues/35. Sorry for having cluttered this thread a bit.

[2017-04-03 16:01] siddsax opened #51 "Instaling Plugin"

[2017-04-03 16:02] #51 closed

[2017-04-05 00:24] sungjik opened #52 "unrealcv plugin fails to load"
LogLinux:Warning: dlopen failed: /home/sung/Documents/Unreal Projects/simple 4.14/Plugins/Binaries/Linux/libUE4Editor-UnrealCV.so: symbol _ZN10ACharacter16ApplyWorldOffsetERK7FVectorb, version UE4 not defined in file libUE4Editor-Engine.so with link time reference

Hi, I get this error when I try to load the plugin. I tried installing in both editor and project folders, same thing happens. Tried v

[2017-04-05 01:02] sungjik commented on #52
I got it to work by doing the following steps:

in project folder,

mkdir Plugins
wget https://github.com/unrealcv/unrealcv/archive/v0.3.0.zip
unzip
1. download 0.3.0 source file
2. unzip v0.3.0.zip
3. edit UE4Version=4.14 in Makefile
4. sh build.sh
5. move contents of built/ into Plugins/unrealcv-0.3.0
6. delete other stuff in unrealcv-0.3.0 that wasn't in built/

[2017-04-05 01:02] #52 closed

[2017-04-06 17:35] ayush-agrawal commented on #40
I have the same issue as @jason718 and @taniajtaniaj
I get a black picture when I use `vget /camera/0/object_mask`
Has there been a fix on this yet?

[2017-04-06 20:39] bhack commented on #14
https://docs.unrealengine.com/latest/INT/API/Runtime/Engine/Engine/ULocalPlayer/GetProjectionData/index.html

[2017-04-20 16:00] ayush-agrawal opened #53 "vget /camera/[id]/object_mask resets the object mask colors"
Hey,

I'm using the plugin v0.3 with UE 4.13. I'm trying to define my own colors for the object mask of different objects in the scene using 'vset /object/[object_name]/color [r] [g] [b]'. However, when I use 'vget /camera/[id]/object_mask', to capture the image, the object mask colors are reset. Is there something wrong I'm doing here?

Thanks,
Ayush

[2017-04-28 23:38] pelre opened #54 "is it possible to detect objects inside UE4 using faster-rcnn?"
I was wondering if it's possible to use faster-rcnn inside UE4 with unrealCV instead of separately rendering the images using the packaged game

[2017-05-04 04:45] serser opened #55 "UnrealCV module not found (with UE 4.15.2)"
![image](https://cloud.githubusercontent.com/assets/3620404/25690785/7a3830b4-30c7-11e7-9486-65a189057421.png)

[2017-05-04 10:17] serser commented on #55
It seems under `Binaries` folder, we don't have built modules ready for Mac, it only has modules for Linux and Win64. Is that the reason? So how could we build a module for Mac?

[2017-05-05 03:03] serser commented on #55
Tried to run what is indicated in `build.sh`:

[2017-05-05 03:04] qiuwch commented on #55
I am doing development using Linux and Windows for the past few months. Let me try on my mac (which has not been used for a few months) and get back to you tomorrow.

[2017-05-05 03:07] serser commented on #55
@qiuwch  Thanks! I am also trying to make it work on Ubuntu in the meantime (compiled UE doesn't launch yet).

[2017-05-05 03:09] qiuwch commented on #55
@serser I have a docker version which did not realise yet. The docker will greatly simplify all the dependencies needed to run the UE4 in Linux.

BTW: I suggest trying the `develop` branch, which I am working on right now. Much more up-to-date.

[2017-05-05 10:28] serser commented on #55
@qiuwch Just compiled UE 4.12 on Ubuntu 14.04 with success. Loaded `unrealcv`.

[2017-05-06 00:10] qiuwch commented on #55
The `develop` branch can build successfully in mac, UE4.14. For UE4.15 in mac, I have a similar issue as this one, `https://answers.unrealengine.com/questions/579232/cannot-package-on-macos-no-automationtoolexe.html`, which I don't know how to fix.

I will update the docs and plugin binary accordingly later.

[2017-06-07 00:40] debadeepta opened #60 "Get various images directly as numpy arrays or similar"
Hi,

Is it possible to get the depth image (and other images) directly in python as numpy arrays instead of saving to a file and then reading them back to Python? I could not figure out how to do so from the commands list or examples.

Thanks in advance!

[2017-06-07 00:51] qiuwch commented on #60
Load png as a numpy array is possible in the develop branch. See here: http://docs.unrealcv.org/en/develop/CHANGELOG.html. This is very new and is not merged to master branch yet.

A generic implementation of returning any matrix as numpy array is what I am working on right now, using this library. https://github.com/rogersce/cnpy. After finishing this, I will merge the update to master.

[2017-06-07 00:58] debadeepta commented on #60
Both of the above methods still seem to be saving to file (png or npy/npz) and then reading them back, right? What I meant was bypassing the disk completely and directly getting the image/depth image buffer from the game side and surfacing it in Python as numpy arrays.

My application is reinforcement learning and I don't want to save any images to disk at all during training time. The images and

[2017-06-07 01:08] qiuwch commented on #60
For lit, depth, normal, the data won't be saved to the disk. The raw data will be encoded in the memory and be sent through socket directly. For object_mask, due to the way it is generated right now (vertex paint + screenshot). I can not bypass the file save step.

The code I mentioned is in here
https://github.com/unrealcv/unrealcv/blob/develop/Source/UnrealCV/Private/Commands/CameraHandler.cpp#L

[2017-06-07 01:14] debadeepta commented on #60
I don't need the object mask right now, so this feature is perfect for me. What are the commands to get this data via the UnrealCV API and which branch should I use to get this feature?

UnrealCV is perfect for some of our RL projects which do not need robot dynamics (yet) or are only vision based.

Regarding AirSim: Will point Shital Shah and Chris Lovett to this thread.

PS: UnrealCV is really i

[2017-06-07 01:23] qiuwch commented on #60
Thanks very much for the kind words.

Please try the develop branch.
The documentation for develop branch is http://docs.unrealcv.org/en/develop/
`vget /camera/0/lit png` is working, I am working on `vget /camera/0/depth npy` which can return depth as a numpy array (because png has range limit 0-255).

You need to compile the code http://docs.unrealcv.org/en/develop/plugin/install.html#compile-fro

[2017-06-07 01:37] debadeepta commented on #60
I will compile from source then. Please let me know when you get the depth working as well. That is necessary for me.

Is your friend's project this one: https://github.com/zfw1226/gym-unrealcv
If so I wonder how is he solving the disk bypass issue for doing RL with OpenAI gym.

Many thanks again! I will close this thread now and await the depth update in the meantime.

[2017-06-07 01:37] #60 closed

[2017-06-08 07:57] edz-o commented on #14
Hi,

@debadeepta
We guess the cause is that the depth image obtained by `vget /camera/0/depth` is the distance from the scene to the camera center, you may convert it to the distance to image plane using [this function](https://gist.github.com/edz-o/84d63fec2fc2d70721e775337c07e9c9).

[2017-06-09 20:24] debadeepta commented on #14
Thank you! I didn't realize the depth image was in ray-distance form. Your function works great. Just a small nitpick: 'f' is undefined in your function. Ideally should be an argument to it.

Many thanks!

[2017-06-10 00:27] bhack commented on #14
Could we add this  to the plugin?

[2017-06-10 02:42] qiuwch commented on #14
@bhack I am willing to finish the uncompleted `vget /camera/[id]/proj_matrix`.  I am working on #60 and it is almost finished. This will be my next step. If anyone has already done this and can make a pull request, that would be best.

@debadeepta I think the distance to the image plane is a much natural definition for depth. The ray-distance should at least be clearly documented, this is our faul

[2017-06-10 11:46] bhack commented on #55
@qiuwch Can you  share the Dockerfile?

[2017-06-10 12:41] bhack commented on #24
@qiuwch It is really useful a protobuf integration

[2017-06-10 19:25] qiuwch commented on #55
@bhack  It is here https://github.com/qiuwch/unrealcv-docker-images, but without many documentations yet.

[2017-06-10 19:27] qiuwch commented on #24
@bhack Actually I changed my mind after this half an year thought and development. My current decision is sending json for plain text structure data and use cnpy to send numpy array. https://github.com/rogersce/cnpy. This is almost done and I am doing some testing.

[2017-06-12 23:55] bcbrock opened #61 "UnrealCV does not build on Mac with Unreal 4.16"
For the record, I'm going to ask and answer my own question. This is related to #55.

When trying to execute `build.sh` on my Mac, I received errors very similar to those shown in the 3rd comment in #55. This is what is happening: By default, when you install the Unreal engine on a Mac, it installs the engine in `/Users/Shared/Epic Games/...`. The build issue is caused by the space in the file pat

[2017-06-14 05:18] qiuwch commented on #53
This has been fixed in the v0.3.9, please see the last example here. http://docs.unrealcv.org/en/develop/tutorials/generate_images_tutorial.html

[2017-06-14 05:20] qiuwch commented on #60
It has been added in v0.3.9, please see here http://docs.unrealcv.org/en/develop/tutorials/generate_images_tutorial.html. I did not have time to benchmark the speed yet, but I think the bottleneck is in reading buffer from UE4, and skipping the file IO does not provide a lot gain.

[2017-06-15 18:46] befelix opened #64 "Build error and crash"
I'm using the current version from master. First of all it doesn't build on Linux (Missing `#include <string>` in `Source/UnrealCV/Private/libs/cnpy.h`). With that fixed, unrealcv works fine within the unreal editor console, but if I try to connect from the python client the system just crashes. I'm not really familiar with unreal, do you have any idea what is causing this?

[unreal console output

[2017-06-15 22:48] qiuwch commented on #64
What is the next command after you use vget /unrealcv/version ?
Get version is successful, is it right?

[2017-06-15 23:24] befelix commented on #64
So I run get version in the unreal editor console. Then I connect with the python client in line 622 and make the same request - which leads to the Signal 11 in line 623.

[2017-06-16 00:53] qiuwch commented on #64
@Ized06 Can you reproduce this and figure out a fix?

I am traveling in China for an emergency. Will be back after one week.

[2017-06-16 14:54] DonnEssime commented on #14
I have a follow-up question about the point set reprojection
First of all, the posted distance-to-image plane function does not work; it actually computes the distance to the camera along the viewing direction (i.e. distance to image plane + focal depth).
The correct equation on line 8 should, imo, read

    PlaneDepth = (PointDepth-1) / (1 + (DistanceFromCenter / f)**2)**(0.5)

Here's the reconst

[2017-06-16 17:24] Ized06 commented on #64
Did you click "play" before you connect the client?

[2017-06-16 17:24] Ized06 commented on #64
Did you click "play" before you connected with the python client?

[2017-06-16 17:33] befelix commented on #64
Yes - the game was running.

[2017-06-16 18:00] befelix commented on #64
Do you know which version of UE were they using? Master/develop are more or
less at the same level right now.

On Fri, 16 Jun 2017, 10:57 Ized06, <notifications@github.com> wrote:

[2017-06-18 15:54] qiuwch commented on #64
@befelix Sorry for late reply.

I am using UE4.14 in Linux and windows. Windows has been tested more than Linux, because I am doing development in Windows.

I tried to reproduce the crash but can not. What I did is
1. Try `vget /unrealcv/version` in editor console
2. Click play and run `pytest test/connection_test.py` twice. The client will connect and disconnect once.
3. Click stop, click play ag

[2017-06-18 15:55] #53 closed

[2017-06-18 15:56] qiuwch commented on #53
I am closing this. If anyone still finds this issue, please reopen it.

[2017-06-18 15:59] qiuwch commented on #61
The latest update has fixed #46. The space issue can be fixed by adding a quote to the ${UE4} variable to make it looks like this "${UE4}", this has also been updated to the build.sh. This is simpler than deleting and reinstalling the engine.

[2017-06-18 16:01] qiuwch commented on #14
Hi, @DonnEssime

@edz-o is travelling these days, I will ask him to follow up this issue when he is back.

[2017-06-19 12:56] mkisantal commented on #40
Hi!

First, thank you for the great work!

I'm also having issues with object_mask, already on the first tutorial. When I'm running demo.py, everything works fine, except for the object mask image, which is not even created. I dot the following output:

`
INFO:__init__:205:Got connection confirm: u'connected to RealisticRendering'
Image is saved to C:/Users/mate/Documents/rendering_demo/WindowsNoE

[2017-06-19 13:13] bcbrock commented on #61
Thank you.

[2017-06-19 13:13] #61 closed

[2017-06-20 15:28] bcbrock opened #66 "Mac build issue, UE 4.16, Xcode: Expected *.h to be first header included"
I'm building the UnrealEngine 4.16.1 itself and the UnrealCV master source code together from XCode on Mac OS 10.12.2. It seems that all of the UnrealCV headers get a compile error in this environment:
[code]
This error is apparently due to a recent UnrealEngine feature called "Insert What You Use" (IWYU). A quick fix is to modify UnrealCV.Build.cs:
[code]
Interestingly, this error does not occur

[2017-06-21 08:36] edz-o commented on #14
Hi, @DonnEssime

You are right, this function computes the distance to the camera plane, i.e. the Z plane.

[2017-06-21 10:18] DonnEssime commented on #64
I'm having the same issues: string.h missing from cnpy.h, and the crash when trying to connect from python.

I'm able to compile the plugin and launch the project. All of the UnrealCV commands seem to be working from inside the game instance. I launch the game directly from command line using

    UE4Editor Project.uproject /Game/PirateIsland/Showcase -game -ResX=640 -ResY=480 -WINDOWED

Which jus

[2017-06-21 11:24] qiuwch commented on #64
@DonnEssime Can you spend some time trying UE4.14? I will also try to use 4.12 to test current master branch when I am back to U.S. tomorrow. Recent updates of UnrealCV (from v0.3.x) are all tested in 4.14. In my reply to @befelix, some users are using the master branch with UE414 without much issue, but it is my responsibility to also make sure it can work with 412.

The missing of crash report i

[2017-06-21 11:27] qiuwch commented on #66
Cooool. Thanks for reporting this.

Do you want to make a pull request to update the Build.cs, so that github can track your contribution?
Or I can also do that.

[2017-06-21 12:18] DonnEssime commented on #44
i have a similar issue, where vget /camera/0/depth would return completely different results from the ScenDepthWorldUnit buffer you get when dumping the buffer contents (with shot, after setting 'r.BufferVisualizationDumpFrames 1'). Some examples (from the PirateIsland marketplace assets, may exist with others as well)

The lit image:
![screenshot00004](https://user-images.githubusercontent.com/12

[2017-06-21 12:27] DonnEssime commented on #14
For future reference, I got confused with the calculation/application of the location and rotation, because they do not follow the axes lay-out I was expecting. The translation axes for a non-rotated camera are given with the x axis into the scene, the y axis to the right and the z axis to the top (left-handed, for some reason?). I was expecting it to be z axis into the scene, x axis to the right

[2017-06-21 12:56] bcbrock commented on #66
Please feel free to make this change yourself. Technically I would be required to go through a formal legal process if I do anything beyond opening issues :-)

[2017-06-21 13:09] qiuwch commented on #66
I see, I did not expect this can cause a trouble for you. I will do it. Thanks.

[2017-06-21 13:14] qiuwch commented on #66
I am traveling now and will update it when I am back. I need to do a little testing to make sure it won't break the compilation of other UE4 versions.

[2017-06-21 17:10] bennihepp commented on #64
I ran into the same issues with both 4.16 and 4.12 but it works with 4.14 (Ubuntu 16.04)!

@qiuwch: Do you happen to have the EXR patch for 4.14? Otherwise I'll try to make the modifications and make a patch for it.

[2017-06-22 13:35] DonnEssime commented on #64
In a follow-up: yes, everything is working as it is supposed to for UnrealEngine 4.14 (although I have a weird problem where 4.14 does not want to launch in my secondary X display because it's got some issues with OpenGL -- unrelated to unrealcv), even after my tweaks to vrun.

Thanks for the quick help!

[2017-06-23 08:37] DonnEssime commented on #44
Update: this issue no longer occurs when using the current master branch against UE 4.14 (AND using the cnpy-interface rather than saving the image directly to disk)

[2017-06-24 01:04] danielnjoo opened #67 "How to use UnrealCV with UE4 games?"
Can you plug UnrealCV into existing UE4 games, or does it only work with games that were packaged with it embedded inside, i.e. the games currently available on Model Zoo?

Thanks! Sorry if this has been answered elsewhere, I did try and look for the answer but wasn't too sure. I've tried it successfully with Realistic Rendering.

[2017-06-24 04:42] qiuwch commented on #67
Hi, @danielnjoo

Currently we are not able to inject UnrealCV into compiled games. It might be possible for a hacker to do so by injecting code into a dll.

You can find UE4 projects in this page http://docs.unrealcv.org/en/master/reference/ue4_resources.html. The RealsiticRendering you tried is from the "Unreal Engine feature examples" of this page.

[2017-06-27 17:58] Blitzman opened #68 "No objects listing in custom scenes"
Hi all!

I am trying to create my own scene with UE4 (4.12, compiled for Linux following the instructions) and UnrealCV (0.3) rather than just using the RealisticRendering cooked binary. I am just creating a blank project in which UE4 inserts a couple of chairs, a table, a statue, and two floor tiles.

I just choose the correct GameMode Override and run the scene. Then when sending the command to

[2017-06-27 18:15] qiuwch commented on #68
Can you try `vset /viewmode object_mask', 'vset /viewmode lit'. Then try 'vget /objects' again?
This looks like a very old bug.

[2017-06-27 18:22] Blitzman commented on #68
Setting the viewmode to object_mask makes UE4 crash with the following output:
[code]

[2017-06-27 18:27] Blitzman commented on #68
Well, to add to the previous response: setting the viewmode from UE4 console works fine and object instances are shown properly. Setting the viewmode from Python using client.request('vset /viewmode object_mask') is what makes UE4 to crash.

[2017-06-27 18:32] qiuwch commented on #68
It seems this line is failed. https://github.com/unrealcv/unrealcv/blob/7e7aebdb939ed166a14aa1965230396921ba0761/Source/UnrealCV/Private/PlayerViewMode.cpp#L137

When you run the game, can you check the tree view of the scene and find out which class type is the player? Is it a UE4CVPawn?

[2017-06-27 18:38] qiuwch commented on #68
If the command in the editor is successful and the python client failed, then I expect the `vget /objects` in the editor can be successful after changing the view mode, is it right?

[2017-06-27 18:55] Blitzman commented on #68
I have checked the tree view and the actor is the default one from the scene. I tried deleting it and adding a UE4CVPawn with the same outcome. UE4 crashes too when I try to execute the vset /viewmode object_mask and the vget /objects commands and both of them cause UE4 to crash again this time in UE4 editor.

Is there any guideline on how to create a custom scene? Maybe I am missing something.

[2017-06-27 19:02] qiuwch commented on #68
This tutorial is something missing and we need to do. Let me try to write one tonight and I will ping you in this thread when I finish.

[2017-06-27 19:04] Blitzman commented on #68
Thanks a lot, sounds awesome! Really looking forward to it :+1:

[2017-06-28 04:08] qiuwch commented on #68
Hi, @Blitzman

I wrote a tutorial here. http://docs.unrealcv.org/en/master/plugin/custom_scene.html

It seems there is nothing you need to change, changing the GameMode to UE4CVGameMode is needed for a reason that the camera for the object_mask is of a different height than the Game viewport, but not essential.

I might need to test v0.3.0 with UE412 to reproduce your issue. Is it possible for you

[2017-06-28 13:44] Blitzman commented on #68
Hi @qiuwch, your efforts are very much appreciated! I will give it a shot compiling UE4.14 and using UnrealCV 0.3.9 as you specified in that tutorial and let you know the result ASAP. In case it does not work I will share the project to do the diagnosis!

Thank you very much!

[2017-06-28 14:16] Blitzman commented on #68
@qiuwch I detected some inconsistencies between the documentation here (http://unrealcv.org/tutorial/plugin.html#linux) and the tutorial. The first one suggests to use UE4.12 since there are compatibility issues on later versions, however, your tutorial makes use of UE4.14. I am trying to compile UE4.14 on my Linux machine and I am having trouble when applying the OpenEXR patch:

[code]

Is the Op

[2017-06-30 03:26] ahtsan opened #70 "Is it possible to send action command from the client to UE?"
It would be useful for reinforcement training in UE. Thanks.

[2017-06-30 08:27] ahtsan opened #71 "Under depth mode, other characters cannot be seen?"
Is it enabled? I believe this is needed for many purposes. Thanks.

[2017-07-01 07:29] ahtsan commented on #71
like other AI

[2017-07-01 07:37] qiuwch commented on #71
What is the UnrealCV version and what is the class type of other AI?

[2017-07-01 07:38] qiuwch commented on #70
Yes, we have a demo to call Blueprint function through UnrealCV, which enables doing this. Will release it soon.

[2017-07-01 07:39] ahtsan commented on #71
version: 4.12
class type: inherited from Character

[2017-07-01 07:39] qiuwch commented on #70
If the action is keyboard action or mouse action, you can already do it with the command. vset /action/keyboard [key_name] [delta]

See http://docs.unrealcv.org/en/master/CHANGELOG.html

[2017-07-01 08:13] ahtsan commented on #70
Is there a guide to build unrealcv for the latest version? The simply shell script is still in old version. Thanks.

[2017-07-01 09:02] ahtsan commented on #70
With some reasons the build.bat doesn't work. I managed to solve the problem and now built version 0.3.9. Thanks.

[2017-07-01 09:08] ahtsan commented on #71
After building 0.3.9, it works. Thanks.

[2017-07-01 09:08] #71 closed

[2017-07-01 16:54] #70 closed

[2017-07-01 16:55] ahtsan opened #72 ""Can not receive a response from server, timeout after 5.00 seconds" after client.connect()"
What could be the possible reason? Thanks.

[2017-07-01 23:57] qiuwch commented on #72
Did you check the server with vget /unrealcv/status  make sure it shows "is listening"?

[2017-07-02 01:35] ahtsan commented on #72
Yes, it shows "Is listening" and "Client connected"

[2017-07-02 01:44] qiuwch commented on #72
What is your operating system and python version?
You are using UE4.12 and UnrealCV 0.3.9, right?

[2017-07-02 01:44] ahtsan commented on #72
Yes, python 2.7.12 with Anaconda 4.1.1

[2017-07-02 02:23] qiuwch commented on #64
@DonnEssime , UE4 seems updated their libSDL2 version in UE4.13, the new libSDL has a different implementation for multiple-display detections (the new one uses randr). I think that's the reason your X display issue.

[2017-07-02 02:27] qiuwch commented on #64
@bennihepp Sorry I don't have exr patch for the newer UE4 version. My plan is getting rid of the exr dependency, which is 1) hard to use in python (depends on the OpenCV). 2) not cross-platform (requires the patch).

The `vget /camera/0/depth npy` demonstrated in [this tutorial](http://docs.unrealcv.org/en/master/tutorials/generate_images_tutorial.html) will be the standard way in the future.

[2017-07-02 02:34] qiuwch commented on #72
Sounds like a problem related to #64.
v0.3.9 is not tested in UE4.12, it might be an issue related to that. I will verify this with UE4.12 and get back to you.

[2017-07-02 03:05] ahtsan commented on #72
which version of UE is stable? I switch from UE4.13 to 4.12 because it is stated that 4.12 is better. Thanks.

[2017-07-02 04:15] qiuwch commented on #72
As reported in #68, there are some inconsistency in our documents. I will take the UE4.12 version down very soon. The docs.unrealcv.org is the latest version. Please use 4.14 if you can switch.

[2017-07-02 15:44] Blitzman commented on #68
@qiuwch Any idea about the patch issues with 4.14? Thanks!

[2017-07-02 20:22] qiuwch commented on #68
Hi, @Blitzman Sorry I forgot to reply this.

You don't need the exr patch for v0.3.9, it is encouraged to use the new npy version, which doesn't depend on the exr patch, see a demo here http://docs.unrealcv.org/en/master/tutorials/generate_images_tutorial.html.

[2017-07-03 07:52] ahtsan opened #73 "Got "TypeError: must be str, not bytes" in __init__.py"
I am using python 3.6.1 64 bit. Got the type error when I tried to call client.connect()

[2017-07-03 10:12] ahtsan commented on #73
Tried #49
Still got `"UnicodeDecodeError: 'utf-8' codec can't decode byte 0x89 in position 2: invalid start byte"  `

[2017-07-03 10:42] ahtsan commented on #73
The problem is fixed
by using `latin1` instead of `utf-8` for python 3.6

[2017-07-03 13:52] ahtsan opened #74 "Load an image from memory from "vget /camera/0/lit png""
I want to convert the binary data into bytes or an image. I am not sure if the binary data is encoded or not. Using either io.StringIO or io.BytesIO can't do the job.
Is there a way to do it?

[2017-07-03 18:00] qiuwch commented on #73
I am using tox to test python3 support, but it is still under construction. https://github.com/unrealcv/unrealcv/blob/develop/test/client/tox.ini

[2017-07-03 18:02] qiuwch commented on #74
I am using StringIO for python2 (here http://docs.unrealcv.org/en/master/tutorials/generate_images_tutorial.html), not sure the correct way for python3.

[2017-07-04 03:53] bennihepp commented on #64
@qiuwch Thanks a lot for the info! I've already discovered it in the code a couple of days ago. Everything works pretty stable in 4.14 now, even for multiple days.

[2017-07-06 03:46] mikeroberts3000 commented on #44
In case anyone is interested, I discovered that the SceneDepthWorldUnits material only renders sensible depth data when there is no screen-space post-processing happening. I was having the same issue as @alt2014 reported above, but I fixed it by disabling the PostProcessVolume object in the Infinity Blades: Grass Lands scene. After doing so, I was able to use UnrealCV to obtain meaningful depth da

[2017-07-08 01:59] mikeroberts3000 commented on #60
I very roughly benchmarked the old way and the new way of obtaining color and depth images. I noticed a consistent 3x speedup using the new interface on a Windows desktop machine. Total roundtrip time using the old interface is roughly 1.0 seconds per image, and using the new interface is roughly 0.3 seconds per image. So not a life-changing performance difference, but well worth the one-liner cod

[2017-07-08 02:48] mikeroberts3000 opened #75 "accessing surface normals as a 32-bits-per-component floating point numpy array, rather than a PNG image"
Hello there,

It would be preferable to access surface normals as a 32-bits-per-component floating point numpy array (similar to how depth images can now be accessed), rather than a PNG image. This would avoid the unpleasant quantization artifacts that occur when storing each component in a color PNG image. Accessing normals in this way is possible in the High-Resolution Screenshot tool in the Unr

[2017-07-10 05:04] qiuwch commented on #60
@mikeroberts3000

Thanks very much for doing something I want to do for quite a while  👍.
I should include a benchmark script in the project to track the speed improvement overtime.

I am very behind of optimizing the speed of the low level. I had some conversations with Shital but did not have enough time to push that forward yet.

[2017-07-10 05:05] qiuwch commented on #75
Hi @mikeroberts3000 .

I added a command `vget /camera/[id]/normal npy`, it works well on my windows machine, do you want to have a try? I did not use surface normal in my research, so I can not make sure whether it is a correct implementation.

[2017-07-10 05:09] mikeroberts3000 commented on #75
@qiuwch Ah that would be perfect. Is your change checked into the develop branch? 😄

[2017-07-10 05:17] qiuwch commented on #75
Just pushed to the develop branch.

In here https://github.com/unrealcv/unrealcv/blob/develop/Source/UnrealCV/Private/Commands/CameraHandler.cpp#L128. Very new and little guarantee, let me know if you find any issue with it.

[2017-07-11 14:35] ahtsan opened #76 "Send message to client from server inside UE"
Is it possible to do that now? It would be great if some of the functions are even BlueprintCallable like SendClientMessage().

[2017-07-11 16:10] ahtsan commented on #76
I modified TcpServer and added a static BlueprintCallable method as a workaround. Now it is able to send string to client.

[2017-07-12 15:25] mhtong commented on #61
It doesn't appear like the quotes fix it - I was getting errors with the latest version from github until I followed bcbrock's fix.

[2017-07-15 22:39] #67 closed

[2017-07-17 14:06] Mayankm96 opened #77 "How are the surface normals encoded in the png images?"
I am trying to use UnrealCV for my project in which I need to create a mask for all the points facing upwards from the ground.

For this, I intend to capture the surface normals view that we get and then normalize the values so that from 0 to 255 it scales to 0 to 1. After that, I take a dot product of the normals with a matrix having element (0,0,1) and use that to take the angle between the norm

[2017-07-18 01:58] qiuwch commented on #77
![image](https://user-images.githubusercontent.com/1688418/28297244-de7410f4-6b3a-11e7-89d8-d0025a93fec6.png)

This is the linear mapping used in the surface normal generation, which is taken from UE4. Probably you need to inverse this operation. I did not use surface normal in my research, so not quite sure about whether this is what you want.

[2017-07-18 02:00] qiuwch commented on #75
Hi @mikeroberts3000:

As reported in #77, this is something you might need to consider if you are still using UnrealCV to get surface normal.
Probably you already know about this since you are quite an expert of UE4 already.

[2017-07-18 02:01] qiuwch commented on #76
Sorry for late follow-up and thanks for this info. We are also making blueprint functions callable through the UnrealCV commands. A tutorial for that will be available this week.

[2017-07-18 02:03] mikeroberts3000 commented on #77
@qiuwch is correct. You have to undo the function in the screenshot above to recover the world-space normal.

[2017-07-18 02:07] qiuwch commented on #77
@mikeroberts3000 Probably I should take out the mapping, no one doing computer vision cares about this mapping which makes visualization better. But this will be a breaking change, making it incompatible with previous code.

[2017-07-20 10:59] Blitzman commented on #68
Hi @qiuwch,

I tried the tutorial again, compiled UE4.14 and the last UnrealCV 0.3.9 successfully. Then a new error arises... when I follow it and try to get a depth map like this:
`
res = client.request('vget /camera/0/depth npy')`

, the following error shows up.

[code]

I tried doing it like this:
res = client.request('vget /camera/0/depth depth.npy')`

but then this happens with npyio:
[code]

[2017-07-20 16:25] qiuwch commented on #68
There are some fixes for python3 has not been pushed to pypi yet.

[2017-07-20 16:27] qiuwch commented on #68
You can try cd client/python, `pip install -e .`  and install the version in this folder.

[2017-07-20 18:23] deepconvnet opened #78 "Error occurs when install unrealcv"
Hi, when I install this unrealcv by running build.sh (my UE4 verison is 4.12), error occurs as the following finally:
.......
  at AutomationTool.CommandUtils.RunAndLog (System.String App, System.String CommandLine, System.String Logfile, Int32 MaxSuccessCode, System.String Input, ERunOptions Options, System.Collections.Generic.Dictionary`2 EnvVars) [0x00000] in <filename unknown>:0
  at Automatio

[2017-07-20 18:27] qiuwch commented on #78
Can you paste the complete log to https://gist.github.com/ and post a link to here? This piece information is not enough for me to tell what is wrong.

[2017-07-21 05:04] deepconvnet commented on #78
Thank you for your reply! Since the website (https://gist.github.com/ ) can not open, I post the complete log here. Thank you for your time!

Set the environment variable UE4 in the console or in the system variables
For example in my Linux machine, I use 'export UE4=/home/qiuwch/UnrealEngine/4.13'

Running AutomationTool...

AutomationTool exists: Deleting
Deleting all AutomationScript dlls
Compi

[2017-07-21 05:23] qiuwch commented on #78
Put `#include <string>` in cnpy.h. This is an issue fixed in develop branch, but has not been merged into master yet.

[2017-07-21 05:23] qiuwch commented on #78
I am closing it for this moment, please reopen it if this is not solved.

[2017-07-21 05:26] #78 closed

[2017-07-21 14:14] deepconvnet commented on #78
Thank you very much for your suggestion! After this modification, I can successfully install this program. But when I launch an UE4 project including this installed plugin, another error occurs like "Missing or incompatible modules in UnrealCV plugin -- would you like to disable it? You will no longer be able to open any assets created using it." It seems that UE4 can not load this installed plugi

[2017-07-21 15:55] deepconvnet opened #79 "Another Error I meet"
Thank you very much for your previous suggestion! Now I can install the unrealcv-master without error. The final info in the terminal like:

......
mono: Performing 3 actions (8 in parallel)
mono: [1/3] Compile Module.UnrealCV.cpp
mono: [2/3] Compile UnrealCV.generated.cpp
mono: [3/3] Link libUE4Editor-UnrealCV.so
mono: Total build time: 38.82 seconds
CommandUtils.Run: Run: Took 38.954806s to run

[2017-07-21 16:40] qiuwch commented on #79
That’s is strange. After you run build.sh you should get the so file,
that’s the purpose for building. Can you try

 find . -name “*.so”

 to see whether you can find anything?

On Fri, Jul 21, 2017 at 8:55 AM deepconvnet <notifications@github.com>
wrote:

--
Weichao Qiu.

[2017-07-21 16:59] deepconvnet commented on #79
Thanks for your reply! I do find the the libUE4Editor-UnrealCV.so in the folder of unrealcv/Plugins/UnrealCV/Binaries/Linux. But why isn't it in the folder of unrealcv/Binaries/Linux? Should I simply move the libUE4Editor-UnrealCV.so to unrealcv/Binaries/Linux folder?

[2017-07-21 17:02] qiuwch commented on #79
You can simply do that. Why not in the Binaries folder. This is hard for me
to tell.

On Fri, Jul 21, 2017 at 9:59 AM deepconvnet <notifications@github.com>
wrote:

--
Weichao Qiu.

[2017-07-21 17:42] deepconvnet commented on #79
Thank you very much! I have successfully generated packaged binary file from UE4 with unrealcv functions.

[2017-07-21 17:44] qiuwch commented on #79
Feel free to make a pull request to update the documentation if you have
time. It can be improved to be more clever. Thanks.

On Fri, Jul 21, 2017 at 10:42 AM deepconvnet <notifications@github.com>
wrote:

--
Weichao Qiu.

[2017-07-22 08:06] #79 closed

[2017-07-22 23:21] Mayankm96 commented on #77
@qiuwch I apologize for replying a bit late. I am not well experienced with UE4Editor, but does the `SceneTexture:WorldNormal` color node gives values in float32 which is then transformed according to following relation: `output = 0.5*input + 0.5`, and mapped to uint8 by a multiplication with 255?

Also I found the RGBMatBall which kinda seems to show well how the axis are oriented.. I think.
![rg

[2017-07-23 10:29] mikeroberts3000 commented on #77
@Mayankm96 that is correct. You can verify the correctness of your interpretation by turning on the debug camera (i.e., hit ` while in an active Unreal game window to bring up the console and type ToggleDebugCamera). This will print the coordinates of the camera, so you can get a sense of the Unreal coordinate system. Then, when you inspect the normal images you get from UnrealCV, you'll see that

[2017-07-23 15:03] Mayankm96 commented on #77
Yeah it all makes sense now. Thanks for your help! :)

[2017-07-23 15:03] #77 closed

[2017-07-26 08:17] louEugene commented on #72
UE4.15 error when run connection_test.py

[2017-07-26 08:39] louEugene opened #80 "Socket is created, but can not get connection confirm from ('localhost', 9000), timeout after 1.00 seconds"
Typed this code
[code]
got error

ERROR:__init__:223:Fail to send message, client is not connected
ERROR:__init__:317:Can not receive a response from server, timeout after 5.00 seconds

Anyone konw why?
using UE4.15, unrealcv 0.39

[2017-07-26 08:56] zfw1226 commented on #80
Maybe you need to check your UnrealCV server IP and port, typing this command in the game console:
[code]

[2017-07-26 09:14] zfw1226 commented on #80
Sorry, I closed this issue by mistake.
Maybe you need to check the IP and port of UnrealCV server, typing this command in the game console:
[code]
Sometimes, this issue is caused by the port confliction.
You can change the port ID in ``unrealcv.init``. And then, you can run the client like this:
[code]
Besides，where do you run the UE game, in UEeditor or in Binary?

[2017-07-26 10:03] louEugene commented on #80
I'm using UEeditor, I check the status, and it gives me this:
![image 1](https://user-images.githubusercontent.com/19661784/28615402-7c1fb3c0-722b-11e7-82a9-4ec723b61a80.png)
I'm not sure if it's correct since I can't see Server IP, only Port ID is available.

[2017-07-26 10:16] zfw1226 commented on #80
Well, the default IP is ``'127.0.0.1'``. Your port ID is ``9001``, but the default IP of UnrealCV Client is ``9000``.
So you can copy the example client code that I referred in the last reply to configure the port ID in the client to connect the UnrealCV server.

[2017-07-26 10:17] louEugene commented on #80
@zfw1226 Thanks so much, It works now.

[2017-07-27 08:58] reality167 opened #81 "camera intrinsic matrix"
I would like to use unrealcv to do some SLAM project, but I need camera  intrinsic matrix,where  can I find it? thanks.

[2017-07-27 09:02] #81 closed

[2017-07-27 14:39] qiuwch commented on #81
See the discussion in #14

[2017-08-02 00:03] baijin93 commented on #14
Why is it `-1` instead of `-0.5` in line 4 and line 5 of [depth_conversion.py](https://gist.github.com/edz-o/84d63fec2fc2d70721e775337c07e9c9)?

[2017-08-10 06:12] louEugene opened #82 "Object_mask output image size and angle is not consistent with lit image."
Im runing generate_images_tutorial.ipynb, I found the output of the 'lit' image is
![image](https://user-images.githubusercontent.com/19661784/29156631-865fe426-7dd5-11e7-8179-072b42e842dd.png)
, same view angle with normal

![image](https://user-images.githubusercontent.com/19661784/29156643-954d76b0-7dd5-11e7-9f2d-28cb711eaec6.png)
However, the output of mask image seems has a different angle of

[2017-08-11 08:23] PierreBoyeau opened #83 "Cannot find unrealcv.ini"
Hi,

First of all thanks for the amazing work. I'm trying to fiddle with this [example](http://docs.unrealcv.org/en/master/tutorials/generate_images_tutorial.html) but I face the following issue.
In my `Engine/Binaries/Win64`UE folder, I cannot find any `unrealcv.ini` config file. I suppose it's normal, since I haven't created it yet. However, I don't know how to write it, and I can't find any exa

[2017-08-12 15:36] reality167 opened #84 "The correspondence between depth iamge and the specific depth"
I use unrealcv in visual-slam,so I need depth information. used the command below,I got the depth map:
dep=client.request('vget /camera/0/depth npy')
depth=read_npy(dep)
![image](https://user-images.githubusercontent.com/30361366/29241966-cd6b0520-7fb6-11e7-8643-ef37d60763ad.png)
   but I do not know the correspondence between these colors and the specific depth, someone can help?

[2017-08-13 02:26] mikeroberts3000 commented on #84
Hi @reality167, the numerical values in the depth images correspond to the distance (in meters) from the pixel to the optical center of the camera. Note that this depth representation is not the same as what you'd get from reading back the OpenGL depth buffer. Keep this nuance in mind, in case you need to invert the depth image into a world-space point cloud :smile:

[2017-08-13 02:27] qiuwch commented on #83
Hi, You can get the ini file location using 'vget /unrealcv/status` this command will report where the ini file is.

[2017-08-13 02:45] mikeroberts3000 commented on #83
Hi @PierreBoyeau, this is what my unrealcv.ini looks like.

[code]

I have successfully changed the Width and Height parameters to change the resolution of the UnrealCV screenshots.

[2017-08-13 02:54] mikeroberts3000 commented on #11
Hi @tebishop, in case it's helpful, I have successfully changed the resolution of the UnrealCV screenshots by editing the ``unrealcv.ini`` file, which for me is located at ``/Users/Shared/EpicGames/UE_4.14/Engine/Binaries/Mac/unrealcv.ini``. This functionality was added relatively recently, so you should update to the latest version of UnrealCV.

[2017-08-13 03:04] mikeroberts3000 opened #85 ""vget /camera/0/depth npy" command not working on Mac"
Hello,

I can't get depth images using the new npy interface on Mac. The following program produces an error on Mac.

[code]

I'm synced to the latest master version of UnrealCV. Note that this same program works correctly on Windows. I noticed that there are some endian shenanigans in the UnrealCV npy serialization code, although I didn't look at this code very closely. Does this code make any pl

[2017-08-14 08:32] PierreBoyeau commented on #83
Hi guys, first of all thanks to both of you for your help.
My issue is that when I type `vget /unrealcv/status` I only get the following output (I work on a personnal project) :
[code]
I tried to create a custom `unrealcv.ini` in my `Engine/Binaries/Win64` engine folder, but this doesn't seem to have any effect.
Do you have an idea why this does not work? I have version 0.3.0.

[2017-08-14 09:45] #83 closed

[2017-08-14 12:22] PierreBoyeau commented on #82
I struggle with the same issue

[2017-08-15 02:54] qiuwch commented on #82
Hi, @louEugene @PierreBoyeau:

Sorry for late reply. Did you get this issue with the binary in the model zoo, or with in the UE4Editor with UnrealCV installed?

If it is in the editor, please change the GameMode to UE4CVGameMode or change the default pawn to UE4CVPawn.

![image](https://user-images.githubusercontent.com/1688418/29300421-4394f7e6-8143-11e7-8737-1edca18adf24.png)

This issue is caus

[2017-08-15 09:01] PierreBoyeau commented on #82
Hi @qiuwch, yes, I use the UE4 plugin. Thanks to your help, I no more have the issue of perspective change, thanks a lot :)
However, the object masks still don't have expected dimensions (from my .ini file, I expected 1920x1080 images and get 454x619 image_mask). Do you have an idea of what's wrong?

[2017-08-15 17:51] qiuwch commented on #82
The object mask generation is different from lit, depth and normal. It is done by a screen capture, so the dimension is what you see on the screen (the viewport).

To change the viewport size, you can do two things.

First, change

In menu Edit -> Editor Preferences -> Level Editor -> Play, change the "Play in New Window" setting.

![image](https://user-images.githubusercontent.com/1688418/2932846

[2017-08-15 17:58] qiuwch commented on #85
I spent some time working on it yesterday. It seems the server code failed to send data to the client, but I can not get more details yet.

I do most of the development in windows and debugging in Mac is not easy for me. (Anyone has suggestions, or familiar with this?).

To solve this I need to add some logging code to figure out the reason, need to take a couple more days.

[2017-08-17 08:54] PierreBoyeau commented on #82
Thanks a lot 👍

[2017-08-28 03:17] mikeroberts3000 commented on #85
No worries, this isn't blocking me for the time being, thanks to this recent fix in OpenCV (https://github.com/opencv/opencv/issues/9361). Please do let me know if I can help test 😄

[2017-08-29 22:16] mhtong commented on #85
I'm running into a related (perhaps identical?) problem here, also on Mac. After initially connecting fine and working for a while, it feels like the connection dies - future requests simply all time out with that same error reported above. I also haven't been able to figure out the best way to recover - usually end up simply restarting. If there's ways I can help, let me know...

In the meantime,

[2017-08-30 00:58] mikeroberts3000 commented on #85
Hi @mhtong, I have the same issue as you, I don't think it's the same issue as I reported in this GitHub issue. I haven't got around to creating a separate GitHub issue for it. Can you create one?

I think it is somehow caused by a shortage of GPU memory, or maybe GPU memory fragmentation or something. Because it seems to happen more or less depending on how many other applications I have open, et

[2017-08-30 01:01] qiuwch commented on #85
@mhtong , if it happens right after using the command `vget /camera/0/depth npy`. That is the same issue @mikeroberts3000 have. Sorry for the delay in fixing this. I am rewriting a part of the project to provide better multi camera support and better performance.

[2017-08-30 19:31] mhtong commented on #85
Hmm, I think I agree with @mikeroberts3000  that what I'm seeing might be a more general problem, since at least sometimes it's not related to getting numpy arrays of depth. It feels like the socket just starts giving timeout messages after a while, and I haven't yet figured out a minimal case to trigger it or exactly what's necessary to recover. If I get a better handle on it, I'll post a separat

[2017-09-09 10:39] mkisantal opened #86 ""vget /camera/0/depth npy" command error on first call"
I ran into an error with getting depth images. The first image I'm getting after starting the UE4 game is completely messed up, while for subsequent requests it are fine.

I am using RealisticRendering-Linux-0.3.9 under Ubuntu 16.04 (but had the same issue with my UE4 environments as well).

The images were generated with the following code: https://gist.github.com/mkisantal/9dc5befb41a8b238494aa1

[2017-09-10 02:32] YingXiuHe opened #87 "error when install unrealcv-0.3.9"
My operating system is Ubuntu 16.04 , UnrealEngine4, unrealcv-0.3.9. when i run the build.sh, i face a problem , the error codes as fllows
`UnrealBuildTool:   Running UnrealHeaderTool "/home/gnss/hxy/unrealcv-0.3.9/Plugins/UnrealCV/HostProject/HostProject.uproject" "/home/gnss/hxy/unrealcv-0.3.9/Plugins/UnrealCV/HostProject/Intermediate/Build/Linux/B4D820EA/UE4Editor/Development/UE4Editor.uhtmanif

[2017-09-10 02:34] qiuwch commented on #87
I saw  "WarningsAsErrors UnrealBuildTool: Refusing to run with the root privileges.". Did you run the command with sudo or under root account?

[2017-09-10 02:39] YingXiuHe commented on #87
yes , i noticed this line before ,but it can not solve my problem . and if i m not run the command with root , there will show ‘Permission denied’

[2017-09-10 02:41] qiuwch commented on #87
Permission denied is usually caused by not setting the file permission properly.
To solve the "permission denied" issue, the correct way is using "chown" command to make files belong to your account, instead of root. And make sure the owner has write permission.

[2017-09-10 02:50] YingXiuHe commented on #87
ok , i m try to do it just now , and build it success.  thank you .

[2017-09-10 02:51] qiuwch commented on #87
No problem. I will close this one. If you have other problems, please open a new issue.

[2017-09-10 02:51] #87 closed

[2017-09-10 02:52] YingXiuHe commented on #87
ok.

[2017-09-12 14:47] ahtsan opened #88 "Is it possible to send and receive message when game is paused?"
Seems now It can't send or receive message when game is paused. Is there something like "executed while paused"?

[2017-09-16 08:41] YingXiuHe opened #89 "A problem when i running 'git apply 0001-Fix-openexr-support-for-linux-version.patch'"
Hi,alls!
    i got a problem when i running 'git apply 0001-Fix-openexr-support-for-linux-version.patch'.
the error codes as fllows:
`error: patch failed: Engine/Source/Runtime/ImageWrapper/ImageWrapper.Build.cs:20
error: Engine/Source/Runtime/ImageWrapper/ImageWrapper.Build.cs: patch does not apply
error: patch failed: Engine/Source/ThirdParty/openexr/UEOpenExr.Build.cs:7
error: Engine/Source/Thi

[2017-09-24 15:49] ahtsan opened #90 "python 3 support for decoding message in tcp"
for normal string, e.g., "connected to GAME"
it works under python 3 by decoding message using 'utf-8' or 'latin-1'.
However, for png, e.g. 'vget /camera/{cam_id}/depth png'
the bytes obtained cannot be decoded using a few codecs.

the string returned using python 2:
![image](https://user-images.githubusercontent.com/10270515/30784165-d433b256-a182-11e7-83d6-dfc1805933ec.png)

Is there a way to co

[2017-09-24 16:34] ahtsan commented on #90
![image](https://user-images.githubusercontent.com/10270515/30784530-47caf73c-a189-11e7-8876-beb59afc9d15.png)
Got this in python 3

[2017-10-04 04:54] zfw1226 commented on #80
@abhay-venkatesh I am not sure that what is wrong with you. The RealisticRendering binary works well when I test it in Windows and Linux. I run the command in console and get response like this.
![console](https://user-images.githubusercontent.com/12609475/31160407-babc86ae-a902-11e7-8840-4ac06171becf.JPG)

[2017-10-10 03:08] ahtsan commented on #49
@jskinn Hello, did you try to get image? For me, normal string works after your modification, but image data doesn't work.

[2017-10-10 03:36] ahtsan opened #92 "Is there anyone able to get image using python 3?"
Normal string works for me but got decoding issue for images.

[2017-10-10 08:19] MiaoDX opened #93 "[Model ZOO] Newer versions wanted!"
Hei,

Thanks for this projects, it helps **A LOT** in my projects!

I am wondering, the projects evolves pretty fast and have somewhat breaking changes. As for the [model zoo](http://docs.unrealcv.org/en/master/reference/model_zoo.html), it seems only `RealisticRendering` is up-to-date, a.k.a the 0.3.9 version. So, will you update other binaries?

To me, one more outdoor scene is enough, like the

[2017-10-12 19:58] TianyuanYu opened #94 "cannot connect localhost 9000"
Hi,

I use Ubuntu, after 'pip install unrealcv', I tried

"from unrealcv import client
client.connect()".

But it shows

''ERROR:__init__:168:Can not connect to ('localhost', 9000)
ERROR:__init__:169:Error [Errno 111] Connection refused"

What should I do to connect?

Thanks in advance

[2017-10-13 04:22] qiuwch commented on #94
Is the binary running? If you use `vget /unrealcv/status` in the console. What do you see?

[2017-10-13 04:23] qiuwch commented on #93
I am working on this, rewriting some packaging scripts to automate this procedure.

[2017-10-13 05:29] MiaoDX commented on #93
Ok, then I will close it now, thanks a lot. :)

[2017-10-13 05:29] #93 closed

[2017-10-14 05:27] xiaoxiangyeyuwangye opened #95 "Failed to get object masks"
Hi, guys.
I am trying to use this useful tool to generate some synthetic images，but I had some troubles when I tried to get the object masks.
I downloaded the RealisticRendering pack and type in a command line:
vset /viewmode object_mask
It just became darker，but no object mask displayed. Like this:
![ha9t rolo4 l0jel15 x1iv](https://user-images.githubusercontent.com/32291247/31572847-b4f307ca-b0e

[2017-10-14 05:48] zfw1226 commented on #95
Which platform do you use, Mac, Linux or Windows?
And Where did you load the RR binary?

[2017-10-14 05:52] xiaoxiangyeyuwangye commented on #95
My platform is window 10 64bit，I downlloaded the RR binary files from here
http://docs.unrealcv.org/en/master/reference/model_zoo.html#rr

[2017-10-15 05:54] zfw1226 commented on #95
Your operation seems right.
I am sorry for that the problem you met is caused by us when compiling the binary. We will fix it and update new binary. The Linux version RR binary is OK. If you have Device with Linux platform, you can try and enjoy it.
Thank you for your report.

[2017-10-15 08:41] xiaoxiangyeyuwangye commented on #95
OK！Thanks for your reply. This is really a useful project and a creative idea. I'm looking forward it getting more exciting. I will keep attention on your guys' wonderful work, and hope I can help it getting better.

[2017-10-15 09:40] xiaoxiangyeyuwangye commented on #95
Is the second problem caused by the first one? I can't read all the categories in file "object_category.json".

[2017-10-15 09:43] xiaoxiangyeyuwangye commented on #95
In my opinion, I don't think think there is any relationship between these two problems.

[2017-10-17 02:39] zfw1226 commented on #95
Yeah, the second problem seems caused by the first one.
We have updated the RealisticRendering-Windows binary. You can download it from the model zoo and try it again.
Have a good time.

[2017-10-17 23:33] ShreyasSkandan opened #96 "Additional camera location resetting"
I'm trying to add a second camera (stereo setup) and collect RGB + Depth information from both cameras. I'm using the example trajectory provided in the 10lines.py script.

I run the **Left Camera: 0** using the original trajectory and I run the **Right Camera:1** using the original trajectory offset by 10 along the X-Axis to simulate a baseline.

**right_cam_loc = loc.copy()
right_cam_loc['x'] =

[2017-10-18 14:17] xiaoxiangyeyuwangye commented on #95
Yeah, it works correctly. Could you please tell me where should if I get start I want to make something like unrealcv，or add some other functions upon unrealcv. I feel really confused about the rendering relevant c++ API and its corresponding documents on their web. Is there any helpful tutorial or document on this issue? Anyway, Thanks a lot for your reply and help!

[2017-10-20 18:41] #96 closed

[2017-10-21 19:49] abhay-venkatesh commented on #83
I have this same issue.

Can you tell us how this was resolved?

[2017-10-21 19:52] abhay-venkatesh commented on #11
I cannot find my config file. My "vget /unrealcv/status" only returns "Is Listening
Client Connected
9000"

[2017-10-21 19:52] qiuwch commented on #83
Hi, @abhay-venkatesh

Which unrealcv version are you using?

[2017-10-21 19:53] abhay-venkatesh commented on #82
This is helpful! Thanks! Hope this gets added to the documentation.

[2017-10-21 19:55] abhay-venkatesh commented on #83
Hi @qiuwch

I am using v0.3.0

[2017-10-21 20:30] qiuwch commented on #83
Config file is not implemented in v0.3.0. Do you know how to upgrade to a newer version?

[2017-10-21 20:33] abhay-venkatesh commented on #82
When I open the game in new editor window, client.request('vget /unrealcv/status') times out. Any ideas?

[2017-10-21 23:45] abhay-venkatesh commented on #83
@qiuwch understood. I will compile the latest version and use that. Thank you!

[2017-10-23 01:03] jskinn commented on #49
I have tried, and my get image doesn't work either. These modifications were suggested before get image was available in the API.
The problem is that in python2, both strings and images are sent back from Unreal as bytes, and you the user somehow know which is which. In python3, the strings are unicode, and the images are not, which means they need different handling.
I don't have a clean fix, bec

[2017-10-23 01:58] qiuwch commented on #49
Hi, @jskinn @ahtsan . Python 3 support is fixed in this pull request #65.
It has been merged to the master branch and has been pushed to pypi yesterday.
Can you try `pip install -U unrealcv` and test again? Thanks.

[2017-10-24 07:01] jeffreykxiao commented on #49
@qiuwch I'm not the original poster, but I ran into the same issue a while back and fixed it with a stopgap as well. After reinstalling unrealcv with your command, I am having no issues. Thanks for the assistance!

[2017-10-25 19:58] PierreBoyeau commented on #82
Whenever this has happened to me, I had 2 (or more) UE editor instances opened. When it's the case, my solution is to close everything and restart (once!) the editor.

[2017-11-06 02:00] edgarriba commented on #2
is this feature work in progress ?

[2017-11-09 17:41] maucoen opened #98 "object_mask not painting colors on meshes on 4.17.2 (source & binary)"
- Operating System: win 10 x64
- UE4 Version:  4.17.2 source built
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): UE console
- Problem Description:
 object_mask won't paint the colors on meshes (looks just like lit, but with no shadows). I tried the following combinations:
built UnrealCV from source, targeting 4.17.2 binary. Projects here don't work. Made a 4.16 project (with binary U

[2017-11-11 00:27] asanohideo commented on #98
Hey I have the same issue!! I packaged my project in the way specified in the tutorial and everything except the object_mask mode works. No matter the command is "vset /viewmode object_mask" or "vget /camera/0/object_mask object_mask.png", it just will not work, and everything in the object_mask mode is just grey. In particular, the player character (as shown below, with a gun) appears in object_m

[2017-11-11 21:32] maucoen commented on #98
Nice investigation! Yeah I guess the color data is there so maybe it

[2017-11-16 19:19] edgarriba commented on #60
hi! why 'lit' mode returns a 4 channel matrix ?

[2017-11-16 19:28] edgarriba commented on #14
anyone faced: `LogUnrealCV:Warning: error Argument Invalid`
 when calling `vget /camera/0/proj_matrix` ?

[2017-11-17 16:36] mkisantal commented on #60
As I remember images are returned in RGBA color space, so the fourth channel corresponds to alpha (opacity).

[2017-11-17 18:16] edgarriba commented on #60
cool. Thanks !

[2017-11-20 12:41] razorx89 commented on #98
@maucoen @asanohideo Did you solve this issue? I am currently experiencing the same behaviour.

[2017-11-21 02:34] jeffreykxiao commented on #14
@edgarriba as of the current version 0.3.10, the function `vget /camera/0/proj_matrix` is incomplete. It just contains a couple lines of commented out code and returns `FExecStatus::InvalidArgument`.

[2017-11-24 20:21] BlueBudgieNeedsWater opened #99 "UE4.16.3 Editor crash"
- Operating System: Win 8
- UE4 Version: 4.16.3
- UnrealCV Version: 0.3.10 (from your website)
- Client (python2, 3 or matlab): none, executed in UE4 Editor
- Problem Description: UE4 Editor crashes after executing any UnrealCV console command. Plugin itself is recognized and seems ok. Is this working with 4.16.3 (Launcher version, not github version)?

[2017-11-24 20:57] qiuwch commented on #99
Yes, it works on 4.16. I mostly use 4.16 and windows myself. Can you locate the crash log according to this article? https://wiki.unrealengine.com/Locating_Project_Logs

Thanks.

[2017-11-25 08:30] BlueBudgieNeedsWater commented on #99
Hi, sorry, that was a bit my bad. I tried straightaway without pressing "Play". In playmode it works.
When I package however, the object mask does not work. The other three viewmodes work in package.(depth,lit,normal). Here is the project with package.
https://drive.google.com/file/d/15zyI7dj-pYlF-Gtzfv-g8l-txlgJzUtL/view?usp=sharing

[2017-11-25 19:53] maucoen commented on #98
nope. I decided to keep working on 16.3 for now. the object colors are being labelled as @asanohideo said, so depending on what you're using with the output of unrealcv you may not need to see the colors anyway.

[2017-12-04 07:26] kunaltyagi commented on #95
Issue exists in Unreal Engine 4.18, Linux.

Built Engine as well as unrealcv from source (unrealcv is in both Engine/Plugins/Runtime as well as Project/Plugins).

Everything gets greyed out on object_mask, but depth, lit and normal mode are displaying correct output.

![object-mask-fail](https://user-images.githubusercontent.com/2657068/33540758-ce11d6ae-d90f-11e7-8210-225239e93db6.png)

Also, cou

[2017-12-06 16:49] edgarriba opened #100 "wrong rgb colorw"
Hi, I render a view using the following command `vget /camera/0/lit png` throw the python interface. I save in disk the obtained numpy array using opencv and I got the attached image. Is this a bug or am I doing anything wrong ?

![image_ref](https://user-images.githubusercontent.com/5157099/33673656-ad8afede-daad-11e7-99ea-e16373cd69a5.jpg)

[2017-12-07 01:00] doublerebel commented on #100
That looks like BGR, not RGB?  Somewhere the channel order has been swapped.

[2017-12-09 00:08] oliviersoares commented on #100
@edgarriba OpenCV is using BGR color space.

Convert your numpy array from RGB to BGR before passing it to imwrite:
img = cv2.cvtColor(img, cv2.COLOR_RGB2BGR)
cv2.imwrite(img_file, img)

(or use cv2.COLOR_RGBA2BGRA if you have an alpha channel)

[2017-12-09 09:00] edgarriba commented on #100
@oliviersoares @doublerebel oh right, it worked. Thanks !

[2017-12-09 09:00] #100 closed

[2017-12-10 04:34] EVAG3 commented on #50
Hi J4k3G, I have met the same problem. I'm wondering if you have figured out the reason and even the solution. Would you mind telling more detail about this? Thank you very much!

[2017-12-11 12:17] AleBar92 opened #101 "Is it possible to run UnrealCV on a model zoo project modification??"
- Operating System: Windows
- UE4 Version: 4.14.3
- UnrealCV Version: latest
- Client (python2, 3 or matlab):
- Problem Description: I had modified the Realistic Rendering project from UE4 library adding a object. When I packed it, how can i run UnrealCV in it? Hope you can help me. Thanks.

[2017-12-11 12:36] zfw1226 commented on #101
Hi, you can refer to this [page](http://docs.unrealcv.org/en/latest/plugin/custom_scene.html) to learn how to install UnrealCV in a UE4 project, and [another page](http://docs.unrealcv.org/en/latest/plugin/package.html) to learn how to package a binary equipped with UnrealCV.

[2017-12-11 12:38] AleBar92 commented on #101
thank you!

[2017-12-11 13:40] AleBar92 opened #102 ""Missing or incompatible modules in UnrealCV plugin" in Windows"
- Operating System: Windows 10
- UE4 Version: 4.14.3
- UnrealCV Version: latest
- Client (python2, 3 or matlab):
- Problem Description: WhenI try to follow this tutorial here [Install UnrealCV Plugins](http://docs.unrealcv.org/en/latest/plugin/install.html) but it seems not to work. I add, as the tutorial says, a new Folder called Plugins and copy in it the UnrealCV folder downloaded [here](https:

[2017-12-12 00:16] deitylink1 commented on #95
Similar problem, UnrealCV running the "playground" -  the object mask just grays everything in an unlit fashion. (also depth works, but makes the sky very weird as well. Not that that matters too much for me)

![image](https://user-images.githubusercontent.com/32622655/33860546-65b8c6ba-dea7-11e7-83b8-2376faf0078d.png)

![image](https://user-images.githubusercontent.com/32622655/33860579-8a0d8c8a-

[2017-12-12 06:03] zfw1226 commented on #102
I tested the compiled UnrealCV plugins in UE4.16.3 Windows. It works well.
Maybe it do not compatible with UE4.14, so you can have a try to compile it from source code. The building script makes it become easy.

[2017-12-12 10:25] AleBar92 commented on #102
I solve the problem via Source Code, thanks a lot. I have another question although. Where can i find the name of the objects shown by unrealcv plugin to modify them? (e.g. in Realistic Rendering project the big couch name is Couch_13, where can i edit that name??)
(if i have to open another issue just tell me and i'll do it)

[2017-12-12 11:13] zfw1226 commented on #102
Do you mean that modify the name of the object?

[2017-12-12 11:14] AleBar92 commented on #102
yes modify the name of an object

[2017-12-12 11:16] zfw1226 commented on #102
Well, you can edit the name in the UE4 Editor. All of the names are listed in the top right. You can modify the name via double clicking it.

[2017-12-12 11:18] AleBar92 commented on #102
Ok but they do not correspond with the name seen by UnrealCV Plugin.
Couch15 in Editor == Couch_13 in CVPlugin

[2017-12-12 11:44] zfw1226 commented on #102
But once you modify the name in UE4 Editor, you can get the same from UnrealCV according to my tests.
I am not sure the reason that why the original names not matched, maybe it is the feature of Realistic Rendering project.

[2017-12-12 11:44] #101 closed

[2017-12-12 12:49] AleBar92 commented on #102
Ok, I'll try asap. Thank you so much!

[2017-12-12 12:54] zfw1226 commented on #92
Have you tried the newest version(v3.10)? it should work well to get images using python3.

[2017-12-12 12:54] #90 closed

[2017-12-12 13:02] #80 closed

[2017-12-13 01:10] qiuwch commented on #102
@zfw1226 @AleBar92. The object name returned from unrealcv is the object id, not the name you see in the editor.

For example if you hover the mouse on the object, it will show the id. The name you can edit it object label. The label is only available in development build, see [here](https://docs.unrealengine.com/latest/INT/API/Runtime/Engine/GameFramework/AActor/GetActorLabel/index.html). If you

[2017-12-13 10:34] AleBar92 commented on #102
Alright. Luckily when i've tried the solution of @zfw1226 it worked well. Thanks a lot for your suggestions!

[2017-12-14 14:38] J4k3G commented on #50
Hey EVAG3. Unfortunately, I never solved this problem and have since completely stopped trying to use 'UnrealCV'. Instead I am now successfully using OpenCV with UE4 directly in C++, and I found this link to be very helpful:
https://wiki.unrealengine.com/Integrating_OpenCV_Into_Unreal_Engine_4
Hope this helps.

[2017-12-14 21:29] mhtong opened #103 "Camera jumps to wrong location."
- Operating System: Mac
- UE4 Version: 4.18? Latest Realistic Render from Model Zoo
- UnrealCV Version: 0.3.10)
- Client (python2, 3 or matlab): Python2
- Problem Description:
The camera does not always go where a vset indicates. In the case of z, it seems to sometimes change heights when told to go to z=100 to one of: 91.141, 100.000, or 116.004. In the other case, it seems like the problem MIGHT

[2017-12-16 03:39] qiuwch commented on #92
Hi, @ahtsan: I agree with @zfw1226 . What you need to do is `pip install -U unrealcv`, which will upgrade the python client to the newest version.

[2017-12-16 03:39] #92 closed

[2017-12-16 03:44] qiuwch commented on #98
Hi, @maucoen

Thanks very much for reporting it. I checked the Engine code. It seems one update in the engine starting from 4.17 broke this feature.

In [this code](https://github.com/EpicGames/UnrealEngine/blob/release/Engine/Source/Runtime/Engine/Private/StaticMeshRender.cpp#L982), the bProxyIsSelected == true check makes sure only the selected object should the color which I use for the annotat

[2017-12-16 03:46] qiuwch commented on #99
Sorry for slow response, did you modify `ConsoleVariables.ini` as described in http://docs.unrealcv.org/en/latest/plugin/package.html this page?

[2017-12-16 03:50] qiuwch commented on #94
I am closing it right now. Please reopen if this is not resolved.

[2017-12-16 03:50] #94 closed

[2017-12-18 03:06] BaiCaiWei opened #104 "An Unreal process has crashed: UE4-"
- Operating System: win7
- UE4 Version: 4.16.3
- UnrealCV Version:
- Client (python2, 3 or matlab):python2
- Problem Description:
LoginId:af6801d04c4d6a5485b2a2b34d2c1ec0
EpicAccountId:8bd00d50c64342bba8b611e02e802d17

Stack overflow - code c00000fd (first/second chance not available)

ASProxy64
ASProxy64
ws2_32
ws2_32
UE4Editor_Sockets!FSocketBSD::HasState() [d:\build\++ue4+release-4.16+compile\s

[2017-12-18 12:01] edgarriba opened #105 "change port number"
Hi, is there any way to change to unreal server port number other than modifying by hand the config file ?

[2017-12-19 03:12] doublerebel commented on #99
I also receive the crash if the game is not running (e.g. before pressing play in the editor), but as long as the game is running everything works as expected.

Probably a good idea to add a note in the docs to hit play in the editor before attempting unrealcv commands.

The object mask issues seem to match what is being discussed in #95 .

[2017-12-19 03:23] doublerebel commented on #98
To consolidate issues, this appears to be the same bug as first reported in #95 ?

[2017-12-19 03:26] doublerebel commented on #105
@edgarriba there is an example in [the header of the client python file](https://github.com/unrealcv/unrealcv/blob/master/client/python/unrealcv/__init__.py#L6):
[code]
The simplest version might be (for example port 9999):
[code]

[2017-12-19 03:29] doublerebel commented on #104
Can you please describe what was happening when the process crashed?  Have you tested with the RealisticRendering package?  If you are using the editor, had you already pressed play (as described in #99)?  What was the last python command run?

[2017-12-19 03:37] doublerebel commented on #46
I can't reproduct this in the current version.  If this is still an issue can you please report back with the UnrealCV version, Unreal version, and project name?

[2017-12-19 03:38] doublerebel commented on #39
Packaging is working for me using `Package game`, I think this issue can be closed?

[2017-12-19 03:41] doublerebel commented on #84
The discussion in #14 is related, and explains the depth calculations -- although the new depth commands added in 26cdbd8ca still need documentation.

[2017-12-19 03:46] doublerebel commented on #68
I can't reproduce this with Python 3.6.3 on Windows, with current UnrealCV and Unreal Engine 4.18.2.  The command works for me.

[2017-12-19 03:50] doublerebel commented on #49
With the fix from #65, and multiple reports of unrealcv working with python3, I think this issue can be closed.

[2017-12-19 03:53] doublerebel commented on #54
It is of course possible to directly run other modules inside Unreal, as in:
https://wiki.unrealengine.com/Integrating_OpenCV_Into_Unreal_Engine_4

However, that would be outside the scope of this project, which is intended to be an external interface.

[2017-12-19 03:58] doublerebel commented on #66
Related: #55

[2017-12-19 03:59] doublerebel commented on #47
Related: #24

[2017-12-19 08:00] BaiCaiWei commented on #104
When I start a project ,it crashed, then I clicked "send and restart", project will open in editor, then I pressed play, and use command, it will crash, and close. If I run .exe without open an editor, it will crash.

[2017-12-19 08:35] #46 closed

[2017-12-19 15:25] edgarriba commented on #105
@doublerebel thanks, but I meant the unreal engine server port. I have the use case with more than one binaries running at the same time in the same machine. By default, the binaries use the port 9000.

[2017-12-19 16:31] doublerebel commented on #105
The binary port can be set in the config file, `unrealcv.ini`.  There is an example in #83 and the possible values are shown in [UnrealCV/Private/ServerConfig.cpp](https://github.com/unrealcv/unrealcv/blob/6295c4a2ab195175a7508056c8372189041e158f/Source/UnrealCV/Private/ServerConfig.cpp).

[2017-12-20 15:29] pscheich commented on #103
Hey I have a simular problem, but with the rotation of the camera.
vset /camera/0/pose 0.0 0.0 100.0 270.0 90.0 135.0
is changed to
0.000 0.000 100.000 45.000 0.000 89.900

- Windows 8.1 64bit
- UE 4.16.3
- UE CV 0.3.10
- Python 2

[2017-12-22 20:52] xd009642 commented on #19
I was thinking of potentially tackling this myself for my own usage. Wasn't sure if merging back in would be of interest? I was thinking of using protobuf as a serialisation/deserialisation method.

[2017-12-22 20:59] xd009642 opened #106 "Add domain randomisation implementation"
This is an enhancement but one of the relevantly recent reinforcement learning advancements is domain randomisation to prevent over-fitting. I was considering forking and implementing https://arxiv.org/abs/1703.06907 for my own ML/CV projects. Are there any current plans for similar functionality? Or any preferences in how something like this would be integrated? I was thinking a new command `vget

[2017-12-23 02:33] qiuwch commented on #106
Thanks for pointing it out. I suggest using blueprint to randomize the materials you want to change. You can easily put what you want to randomize in the Tick function. It can be color, texture, object location, etc.

[2017-12-23 02:36] qiuwch commented on #19
@xd009642, thanks. I am very interested in a protobuf implementation.
Previously I spent some time reading these two repos.
https://github.com/code4game/libprotobuf
https://github.com/PaddleCreekGames/Proto3RPC_UE4

These repos should be a good starting point. Challenges for using protobuf in UE4 is cross-platform support and distributing the protobuf code.

[2017-12-23 02:40] qiuwch commented on #105
Hi, @edgarriba

I agree with @doublerebel

Unrealcv did not have a command to change the server port yet. Currently as a workaround, you might be able to use an ini config parser, such as this https://docs.python.org/2/library/configparser.html to modify the ini config programmatically.

[2017-12-23 02:40] #105 closed

[2017-12-23 02:41] #102 closed

[2017-12-23 08:57] edgarriba commented on #105
@doublerebel @qiuwch thanks for your answers ! As a features request, would be nice to have an argument in the binary with the port number and potentially others parameters.

[2017-12-23 11:18] xd009642 commented on #106
I'll look at a blueprints solution. Ideally you'd have to manually retrigger the randomisation just to enable longer consistent runs of training data.

[2017-12-23 18:33] qiuwch commented on #106
Yes, I agree. We have a command to trigger/call a blueprint function through unrealcv. This command is not well documented now.

[2018-01-02 14:04] AleBar92 opened #107 "Get images from Unreal Editor"
- Operating System: Windows 10
- UE4 Version: 14.4.3
- UnrealCV Version: latest
- Client (python2, 3 or matlab): python 2.7

Is it possible to save image directly from the Play In Editor viewport of Unreal Editor with the plugin installed?
I notice that I can connect from a python client to the PIE and use some of the command but I can't save any image when a I insert the command "vget /camera/0/l

[2018-01-03 05:58] qiuwch commented on #107
What error did you get when you tried this?

This is the basic usage of unrealcv and we use it in this way almost everyday.

[2018-01-03 09:37] AleBar92 commented on #107
I can't take an image. it seems it doesn't manage to save any photo of the scene. Where can I look for the saved image? I searched it in the project folder but I can't found it. Thank for the help

[2018-01-03 19:37] qiuwch commented on #107
In the PIE mode, the image is usually saved to the UE4 editor binary path, which is `C:\Program Files\Epic Games\UE_4.16\Engine\Binaries\Win64` in my computer.

[2018-01-04 12:07] AleBar92 commented on #107
Thank you, I found it. Is there a way to change the destination folder??

[2018-01-05 13:12] MageekChiu opened #108 "what is the meaning of camera id?"
Firstly,thanks a lot for this amazing work.
My problem is that I didn't find the definition of camera id in your document.
I tried to put 3 camera in the map. and then use ` vget /camera/1/lit lit.png` instead of   `vget /camera/0/lit lit.png`  but it said "invalid camera id"

[2018-01-15 17:44] cdemirsoy opened #109 "About accelerating Rendering"
- Operating System: Ubuntu
- UE4 Version:
- UnrealCV Version:
- Client (python2, 3 or matlab): Python3
- Problem Description:

Hi there,

I am rendering images from RealisticRendering.

I have found out that there is a bottleneck in rendering process. Assume that my task is rendering images and creating a video eventually. So if I aim to prepare a video in 24 fps, the rendering bottleneck puts it

[2018-01-16 16:09] larjung opened #110 "Generating 16 megapixel images with UnrealCV"
- Operating System: Ubuntu 14.04.5 LTS
- UE4 Version: 4.16.3
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): 2.7.13
- Problem Description:

Hi, I’m trying to generate a couple of lit and depth images at 16 megapixel resolutions such as 4920 x 3264 using UnrealCV 0.3.10 and Unreal Editor 4.16.3 for Linux.

Unfortunately, the vget client requests fail with a timeout because the operation

[2018-01-19 07:21] qiuwch commented on #110
Hi @larjung

Sorry for late reply. If you search timeout in the code, you can find a few places with timeout threshold.

The 5 seconds timeout is defined in https://github.com/unrealcv/unrealcv/blob/24ba34eab164cff07832f4e0a7d44b578f42b7c8/Source/UnrealCV/Private/CommandDispatcher.cpp#L71.

[2018-01-19 07:25] qiuwch commented on #109
Hi @cdemirsoy

I am working on a higher performance new version in the fast branch, but it is not ready for release yet.

Did you check the Matinee tool of Unreal Engine, which can record a pre-specified trajectory. Can it work for your purpose?

[2018-01-19 07:28] qiuwch commented on #108
Hi @MageekChiu :

Sorry for late reply.

In current version, only camera id 0 and camera id 1 have effect. This is because we hard-coded the two cameras for a stereo matching paper.

A more generic multi-camera system is not implemented in the master branch yet and is currently developing under the fast branch (which is not ready for release).

So the short answer is currently you can not do this,

[2018-01-19 17:17] cdemirsoy commented on #109
Hi,

Thanks, I got substantial improvement by means of prerecorded trajectory. However, I came up with another question this time. Is there a way to explore RealisticRendering in a smoother way? Because moving the camera is not very precise and sensitive. Do you know how I can slowdown the camera so that I get a smoother trajectory?

Best Regards,
Canberk

[2018-01-25 12:58] larjung commented on #110
Hi @qiuwch

The code change worked as described and I can now generate 16MPixel images with UnrealCV.

Thanks!

[2018-01-25 12:58] #110 closed

[2018-01-26 03:59] qiuwch commented on #110
@larjung  Cool. Glad to know that. Let me know if you need any other help.

[2018-02-05 09:00] larjung opened #112 "Scene rendering problem when using unrealCV client"
- Operating System: Ubuntu 14.04.5 LTS
- UE4 Version: 16.3
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python2
- Problem Description:

Hello,
I am encountering an odd shader(?) problem when using the DownTown scene (both from modeling zoo and my own purchased copy).
Before running a command with UnrealCV, everything looks fine (screenshot 1).
However as soon as I run client.request

[2018-02-05 14:51] Blitzman commented on #98
Is there any update on this issue? I have some scenes in UE4.18 which can't be exported or converted to UE4.16 so I need that object segmentation feature to work :/ Can we help anyhow? I was trying to debug the issue but the code pointer you mentioned @qiuwch is 404ed. Thanks a lot for this awesome work again!

[2018-02-06 19:57] olivia-skydio opened #113 "How well can Unreal CV work with different UE4 environments?"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.16
- UnrealCV Version: 3.10
- Client (python2, 3 or matlab):python2
- Problem Description:

How robust should unrealCV work with new/different environments that can be found on the UE4 marketplace? I'm trying to use to a Redwood forest scene that I've previously used (in UE4 Version 4.17), and added the UnrealCV plugin and unreal engine editor is r

[2018-02-07 07:07] qiuwch commented on #98
Hi @Blitzman:

I checked the link I posted before and it is still working. It shows 404 because UE4 repo is a private repo and you need to request access through here. https://github.com/EpicGames/Signup

If you have a source build and can edit this line, I think it is the solution you can get right now. A more detailed explanation is below.

Hi all:

A quick update for this issue.

To solve this

[2018-02-07 07:15] qiuwch commented on #113
Hi, @olivia-skydio

Thanks for this issue. You brought up a very important thing I am working on.

The performance issue is mainly because the sensors created by unrealcv are capturing data everytime (which is unnecessary). If the rendering cost is low, the impact is not significant, but if it is a very complex scene, the performance suffers.

You can check the performance cost using a console com

[2018-02-07 07:18] qiuwch commented on #112
This issue might be caused by the VertexColor which is used to generated the water reflection being overwrote by unrealcv. I am wrapping up the next release which can solve this issue.

[2018-02-09 00:56] olivia-skydio commented on #113
Thanks for getting back to me, I'll check it out and would love to stay up to date on how it goes @qiuwch !

[2018-02-09 01:59] jskinn commented on #49
Yep, can confirm it works for me now in python 3. Thanks

[2018-02-09 01:59] #49 closed

[2018-02-10 03:59] qiuwch commented on #98
![image](https://user-images.githubusercontent.com/1688418/36058390-a365861e-0dec-11e8-803e-b5c0926a2f83.png)

This is an example of RealisticRendering in 4.18 by changing the engine code I mentioned above (Solution 1). I will release Solution 3 soon.

[2018-02-24 15:08] cdemirsoy commented on #98
Hi,

I cannot really understand the solution 1. Which line or section should I exactly change? Is it about bProxyIsSelected  or VertexColorVisualizationMaterial? Can you please briefly mention?

Thanks

[2018-02-24 22:05] cdemirsoy opened #114 "Is it possible to change actor colors?"
Hi there,

Obviously object mask works for segmentation. My question is that whether we can do the same thing for actors.

I try to manually set actor's color treating it as an object but it does not work at all.

Does unrealcv provide such a feature?

Thanks

[2018-02-28 14:00] matiasvc opened #115 "Selecting depth image range"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.16
- UnrealCV Version: v0.3.10
- Client (python2, 3 or matlab): python3
- Problem Description:

I am currently evaluating using unrealcv for a Computer Vision project, which i need to render both lit and depth images. Lit images work fines, but i am having an issue with the depth images.

I tested the unrealcv using the FPS example in UE and render

[2018-02-28 18:22] cdemirsoy opened #116 "Rendering Latency"
Hi,

I have a very important question, did anyone use unrealcv to create training data for deep learning when there are moving objects? I think at this point this is not possible because different and nondeterministic rendering time and  averts to have exactly same frame both masked and non-masked.

I am thinking on it for days but I had no progress. Please free feel to share your opinion!

Best R

[2018-03-01 07:15] qiuwch commented on #116
I am using it for this purpose, but what I am doing now requires some knowledge of using blueprint in UE4. The idea is calling unrealcv functions in the blueprint and save the image and annotation in the same tick of the game.

Another approach is pausing the animation during the data capture and resume the animation after that.

[2018-03-04 18:23] dimka-kopitkov commented on #50
try to add number to your command:
0:vset /camera/0/location 0 200 0

[2018-03-05 04:49] yuzhanggithub commented on #50
Hi dimka-kopitkov, thanks for pointing out. I also figured out that I should add a "0:".

[2018-03-05 12:59] dimka-kopitkov commented on #50
No problem. Also check if the response have the same number id.
In my code I sometimes see that response have id and content of some old request.

[2018-03-06 22:33] yuzhanggithub commented on #50
Seems like I have not met such situation. But thanks for the reminder.

[2018-03-08 11:16] iamsuperwen opened #117 "Could not save object_mask image with absolute path."
- Operating System: win10
- UE4 Version: 4.18.3 (built from source to [solved object_mask color problem](https://github.com/unrealcv/unrealcv/issues/98))
- UnrealCV Version: master branch at 3.6.2018
- Client (python2, 3 or matlab): python2 & UE console
- Problem Description:
I try to change the path of the image by adding the absolute path in front of the image name.
eg. 'vget /camera/0/%s %s/%s.

[2018-03-08 11:17] iamsuperwen commented on #98
I am using solution 1 by removing "bProxyIsSelected &&" from [line982](https://github.com/EpicGames/UnrealEngine/blob/release/Engine/Source/Runtime/Engine/Private/StaticMeshRender.cpp#L982) and the object_mask show, but I'm not sure is a proper way.

[2018-03-12 07:18] praveen96 commented on #72
I am using UE 4.16 and unrealcv v.3.10 (compiled windows binaries that are provided in the release). I am not able to figure out why I am getting this ERROR for every command I try even for client.request('vget /unrealcv/status'), I get this:
ERROR:__init__:336:Can not receive a response from server, timeout after 5.00 seconds

Anyone knows any way around for this problem?

[2018-03-13 05:10] qiuwch commented on #72
Did you call client.connect() before trying to use client.request()?

If you use `vget /unrealcv/status` in the built-in terminal. Did the status showing it is `Listening`?

[2018-03-13 05:38] praveen96 commented on #72
In unreal command console,
vget /unrealcv/status shows it's listening, and also tried a few other commands which seem to work

when I try to unreal via python code, none of the commands are working
Yes, I did call clent.call() at the start and the message that prints is:
INFO:__init__:211:Got connection confirm: '<name of project>'
Then for all the subsequent commands I try in that code give the t

[2018-03-15 16:48] mlopezantequera opened #118 "The appearance changes after sending the first UnrealCV command"
- Operating System: Ubuntu 16.04
- UE4 Version: // Using the compiled [UrbanCity](http://cs.jhu.edu/~qiuwch/release/unrealcv/UrbanCity-Linux-0.3.10.zip)
- UnrealCV Version: // Using the compiled [UrbanCity](http://cs.jhu.edu/~qiuwch/release/unrealcv/UrbanCity-Linux-0.3.10.zip)
- Client (python2, 3 or matlab): Python 3
- Problem Description: The FOV and appearance of the environment changes after t

[2018-03-16 13:06] mlopezantequera opened #119 "Camera takes a while to move"
Operating System: Ubuntu 16.04
UE4 Version: // Using the compiled UrbanCity
UnrealCV Version: // Using the compiled UrbanCity
Client (python2, 3 or matlab): Python 3

This code should produce rgb + d images for the same camera poses, however, unless I insert some wait after requesting the camera change, I might get the 'old' pose for rgb and the 'new' pose for depth.

Currently I'm waiting a littl

[2018-04-03 23:13] krydm opened #120 "MIssing file camera_traj.json"
- Operating System:Mac High Sierra 10.13.3
- UE4 Version:4.16, patch 3
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): Python2, Python3
- Problem Description: Just getting started with unrealcv. I've opened python(the picture is the same with both 2 and 3) and connect the client(running RealisticRendering, just in case it matters). The client is connected OK, and I can run  res = clien

[2018-04-04 12:01] SteveJos commented on #120
Hey it is located in `unrealcv/docs/tutorials:)`

[2018-04-04 12:08] SteveJos opened #121 "Please provide the "rr_573.json" file for `data_generation.py` sample code"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.17
- UnrealCV Version: Master
- Client (python2, 3 or matlab): Pyhton 2.7
- Problem Description:

@TaeSoo-Kim @qiuwch
Please provide the `rr_573.json` file that is used in the `data_generation.py` sample code. How should the 'scene_name' and 'cam_info' entrys look like?

Thank you very much in advance!

[2018-04-04 18:55] krydm commented on #120
@SteveJos don't laugh, but I still don't get it. I'm following Gettin Started. After pip install unrealcv I've only found unrealcv folder in Python packages, and it's definitely not there. OK, looking at your answer I've realized that it was my stupidity and I should clone the repo first. The cloned repo does have a docs subfolder, but no tutorials. I run python build_doc.py(not even sure if it's

[2018-04-04 19:56] krydm commented on #120
My fault, I've checked the git logs -- there was
git-lfs smudge 'docs/images/console.png': git-lfs: command not found
in the middle of cloning. Installed git-lfs and now I see the tutorials folder with all the contents including json files.
I apologize for the mess

[2018-04-04 19:56] #120 closed

[2018-04-05 00:39] krydm opened #122 "unrealcv/examples/10lines.py problem"
- Operating System:
- UE4 Version:
- UnrealCV Version:
- Client (python2, 3 or matlab):
- Problem Description:
I'm trying to run 10lines.py with RealisticRendering(doesn't matter, I guess) and I get an error:
File "/Users/dmitri/unrealcv_tutorials/camera_traj.py", line 15, in <module>
    [im, dep, obj] = [client.request('vget /camera/0/%s' % m) for m in modes]
ValueError: need more than 2 values

[2018-04-05 09:07] SteveJos commented on #122
Hey @krydm! There is a depth param missing in the example.. just replace the line 14 (modes) with the following:

`modes = ['lit', 'object_mask', 'depth']`

[2018-04-05 09:55] kavitaj70 opened #123 "Regarding Installing the plugin from source code"
- Operating System: WINDOWS 10
- UE4 Version: 4.19
- UnrealCV Version: unrealcv_Win64_0.3.10
- Client (python2, 3 or matlab): PYTHON 3
- Problem Description:
I am trying to build the source code for installing the unrealcv plugin.
I am getting this error. Please help.

![unrealcv_error](https://user-images.githubusercontent.com/38099929/38359282-8577712a-38e5-11e8-9eae-7deeada4f081.png)

[2018-04-05 15:04] krydm commented on #122
@SteveJos many thanks! It's actually a shame that I didn't care to read the code thoroughly. Just ten clear lines :(.
OK, I'm a rather freshman in Python

[2018-04-06 00:02] rawalkhirodkar opened #124 "Object Mask not of size defined in config file"
First of all, thank you for your work.

- Operating System: Ubuntu 16.04
- UE4 Version: 4.18
- UnrealCV Version: v0.3.10
- Client (python2, 3 or matlab): python2

- Problem Description:
The shape of the object mask is not the same as what is defined in the config file.
depth, rgb, normal works fine.

I followed to fix by removing "bProxyIsSelected &&" from line982 in Unreal code to make the object

[2018-04-06 05:28] qiuwch commented on #121
See whether this can work? It is written for an earlier version, so it might be need small modification, https://gist.github.com/qiuwch/90067ca6ef3e80642c47f190d8b13159

[2018-04-06 08:27] SteveJos commented on #121
Thank you very much! Yes the json worked but the format is quite different from the one generated in `camera_traj.json`. Therefore camera trajectories generated with `record_camera_trajectory.py` are not compatible.

[2018-04-06 08:27] #121 closed

[2018-04-06 08:32] SteveJos opened #125 "Bounding Box generation with UnrealCV tools"
-Operating System: Ubuntu 16.04
-UE4 Version: 4.17
-UnrealCV Version: Master
-Client (python2, 3 or matlab): Pyhton 2.7
-Problem Description:
@TaeSoo-Kim @qiuwch

I am trying to create a dataset of images and bounding boxes of a single object in the RealisticRendering environment. The image generation and masking works fine and I managed to create bounding boxes with the use of opencv tho. Is it a

[2018-04-06 09:54] dimka-kopitkov commented on #125
I did it for my project. Once you have a mask of object in image, you can do next:

`            mask = double(mask);
            x_sum = sum(mask, 1);
            x_sum = x_sum(:);
            y_sum = sum(mask, 2);
            y_sum = y_sum(:);
            x_min = min(find(x_sum));
            x_max = max(find(x_sum));
            y_min = min(find(y_sum));
            y_max = max(find(y_sum));

[2018-04-06 21:11] rawalkhirodkar commented on #124
Thanks for the response. Weirdly both the fixes are not working for me.

However, now that I know what caused the problem I am able to maintain a new editor window of the required resolution. That does it for me. Thanks again.

[2018-04-06 21:11] #124 closed

[2018-04-06 22:58] #122 closed

[2018-04-10 19:18] krydm opened #126 "Strange path management on saving images"
Operating System: Mac High Sierra 10.13.3
UE4 Version: 4.16, patch 3
UnrealCV Version:  0.3.10
Client (python2, 3 or matlab): Python2, Python3
Problem Description:
I'm running something like

res = client.request('vget /camera/0/lit mylit.png')

res now is /private/var/folders/vf/d8f6xsh11ddfh7tgw3lfpjfm0000gn/T/AppTranslocation/682CF50A-3365-43D5-9DBE-8DA7C54BCF97/d/UrbanCity.app/Contents/UE4/Eng

[2018-04-10 20:30] krydm opened #127 "client connection/disconnection"
- Operating System:Mac High Sierra 10.13.3
- UE4 Version: 4.16
- UnrealCV Version: 0.3.10
- Client (python2, 3):
- Problem Description:
I'm running some code starting with
client.connect()
 and ending with client.disconnect()

Despite this disconnect code attempt to rerun this code again causes the following traces repeatedly:
ERROR:__init__:336:Can not receive a response from server, timeout afte

[2018-04-11 07:35] dimka-kopitkov commented on #127
Up. I've experienced similar problems with connection socket. I'm connecting to plugin from Matlab and on some occasions plugin stops responding and the only way to deal with it is to restart UE4.
I didn't yet investigate what exactly caused the connection to get broken.

[2018-04-11 17:44] krydm commented on #127
@dimka-kopitkov wow, so with the plugin it happens just occasionally? Python client gives it 10 out of 10 ;)

[2018-04-11 17:50] qiuwch commented on #127
If my memory is right, the mac socket did not detect the disconnection the same way as windows / Linux. This is a known bug and I don't have enough energy to fix it on Mac. Sorry.

[2018-04-11 19:59] raminia opened #128 "360 Panoramic images"
- Operating System: MacOS
- UE4 Version:
- UnrealCV Version:
- Client (python2, 3 or matlab): Python
- Problem Description: Feature request: 360 panoramic captures

I wonder if there is an easy way to capture 360 panoramic images using unrealcv.

[2018-04-11 20:01] krydm commented on #127
@qiuwch gotcha, thanks. Maybe as a half–solution you could return the socket on connect()? Then we could at least take care of it out of the client.

[2018-04-11 20:02] qiuwch commented on #128
There is a panoramic image generation plugin in UE4. The idea for that one is taking several images and make a stitch.

If you only want the image, that plugin is a good option.

If you need ground truth, then maybe use unrealcv to take images and ground truth and then do the stitching in python.

[2018-04-11 20:09] qiuwch commented on #128
For the plugin I mentioned, see here, https://www.unrealengine.com/en-US/blog/capturing-stereoscopic-360-screenshots-videos-movies-unreal-engine-4?sessionInvalidated=true

[2018-04-11 20:17] krydm commented on #127
@qiuwch I see. Completely agree about the platform-related part, and our stuff at the end will be deployed to Linux and run there, but we're now at the very first part of research/prototyping, so it's mainly playing/trying/checking etc. So the issue is just a bit annoying but not very critical. Many thanks for the clarification though.
Could you maybe also comment on the issues #126 and #117 pleas

[2018-04-11 20:33] qiuwch commented on #127
@krydm Sure. Will do.

[2018-04-11 21:34] raminia commented on #128
Thanks for the suggestion. I had hard time making that plugin work on MacOS though. It's not working for me. Plus, it'll be great to have the ground truth for depth and normals in 360 as well without stitching and right from the engine.

[2018-04-11 21:36] qiuwch commented on #128
As far as I know, there is no way to directly get a 360 image from the rendering pipeline. It requires stitching as a post process, no matter it is in C++ (what the plugin did), or in python.

[2018-04-13 10:57] AlexanderGoryun opened #129 "UnrealCV (fast branch) not building from source"
- Operating System: Windows 10 64 bit
- UE4 Version: 4.19.1
- UnrealCV Version: unrealcv-fast
- Client (python2, 3 or matlab): python3.6
- Problem Description: UnrealCV plugin not building

Hi! Could you please help with determining why the UnrealCV plugin from `fast` branch doesn't build for UE 4.19.1 (also tried building for UE 4.18.3 with the same result)? I attach the UAT and UBT logs. Thank y

[2018-04-13 18:57] analog-cbarber commented on #61
Yes, this is still broken. Reinstalling with no space in install directory fixes the problem as suggested in the first comment . Should this be reopened?

[2018-04-16 16:07] CallumFling opened #130 "Variation in set and displayed object_mask values"
- Operating System: Win7
- UE4 Version: 4.16
- UnrealCV Version: master @ (623d7c7df62e1442b79722b504ec869f8e6b118d)
- Client (python2, 3 or matlab): Python 2
- Problem Description:

When setting the object mask colour via the python interface, the returned colour can sometimes vary by 1. An example, ran on the realistic rendering binary, would be setting the colour of the TV in the room to 35 on

[2018-04-17 11:56] benjamin-lange commented on #107
You can change the destination folder by replacing the filename with an absolute path (worked in my case).
For example (on Windows):
`res = client.request('vget /camera/1/lit C:\\Users\\[username]\\Desktop\\test_capture.png')`

But I want to point out that the output from UnrealCV is misleading at this point.
_The image is saved to C:/Program Files/Epic Games/UE_4.16/Engine/Binaries/Win64/C:/_
Whe

[2018-04-17 13:02] benjamin-lange commented on #117
- OS: Win10
- UE4 Version: 4.16.3
- UnrealCV Version: 0.3.1
- Python Version: 3.6

Similar problem as in the posts above, the following Python Code line actually SET the UE4 editor to display the object mask instead of saving the screenshot:
`client.request('vget /camera/0/object_mask C:\\Users\\[username]\\Desktop\\unrealcv\\object_mask_test.png')`

[2018-04-25 08:40] MiaoDX commented on #128
Hei, I have a similar project, do you have any advancement? @raminia

@qiuwch And any suggestion for the stitching software, I know there are some ones stitch RGB images, can that be applied directly to depth image, could there be things like ray-distance discussed in [Getting the projection matrix of camera #14](https://github.com/unrealcv/unrealcv/issues/14)? Any help is appreciated (I encounter

[2018-04-26 12:59] CallumFling commented on #130
This issue is resolved on the fast branch, appologies.

[2018-04-26 12:59] #130 closed

[2018-05-02 15:41] aquibrash87 opened #132 "How to easily generating new camera_traj file"
- Operating System: UBUNTU 16
- UE4 Version:4.16
- UnrealCV Version:0.3
- Client (python2, 3 or matlab): 2
- Problem Description: How can I generate my own camera_traj.json file by moving the player using direction keys

[2018-05-02 15:42] aquibrash87 commented on #132
my target is to easily randomize dataset generation for few objects imported into Unreal Engine

[2018-05-24 20:04] hujinhan12 opened #133 "Is it possible to change focal length or some other parameters in unrealCV to get an unfocused (blurred) scene?"
- Operating System: windows 10
- UE4 Version: 4.19
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python 3
- Problem Description:
 I am currently working on a project which requires me to generate some synthetic images that are blur. So, I wondered if there are some parameters in unrealcv that I can change in order to get unfocused scene, such as by changing focal length.

[2018-05-24 23:35] DavidLSmyth opened #134 "Plugin crashes editor on Windows 10, UE 4.16"
- Operating System: Windows 10
- UE4 Version: 4.16
- UnrealCV Version: 3.10
- Client (python2, 3 or matlab): python3
- Problem Description: I created a plugins folder and included the UnrealCV unzipped binary as outlined in your installation guide. The plugin was present in the project ;
![image](https://user-images.githubusercontent.com/15518585/40518570-3cb096b6-5fb3-11e8-9410-40379be0d29e.png)

[2018-05-25 10:11] DavidLSmyth commented on #134
Update:
Restarting the machine resolved the problem of the server not starting, but I still can't use the plugin commands without the editor crashing. The python script:
`from unrealcv import client; client.connect(); print(client.request('vget /objects'))`
gave the following error
![image](https://user-images.githubusercontent.com/15518585/40539311-4187bbfc-600c-11e8-87c8-fa215fc3c51c.png)

[2018-05-29 22:22] #133 closed

[2018-06-06 12:12] CallumFling opened #135 "Landscapes not visible in object mask view"
- Operating System: Win 7
- UE4 Version: 4.16
- UnrealCV Version: lastest fast branch
- Client (python2, 3 or matlab): python2
- Problem Description:
When using the object mask view mode, mask colours aren't painted onto landscape objects. Standard meshes work fine.

The issue echoes that seen in #17 but the supplied fix to that issue doesn't solve the problem and the landscape, instance grass etc

[2018-06-07 14:27] CallumFling commented on #135
After more digging into this issue, using a slightly modified fast branch build on Unreal 4.17 leads to the landscape being visible in the world, but not painted any colours.

Using the master branch of unreal CV leads to the same result, a visible yet grey landscape that cannot have its colour changed. @qiuwch do you have any idea what may be causing this?

I have also tried a build of both unrea

[2018-06-12 21:35] hujinhan12 opened #136 "cannot find handler for vset /camera/location or /rotation"
- Operating System: windows 10
- UE4 Version: 4.19
- UnrealCV Version: 3.10
- Client (python2, 3 or matlab): python 3
- Problem Description:

Hi,
My python client is connected
My code is
    x1 = random.uniform(10,130) #also tried randint
    y1 = random.uniform(-50,50)
    z1 = random.uniform(150,200)
    pitch1 = random.randint(-10,10)
    yaw1 = random.randint(-10,10)
    roll1 = random.randint

[2018-06-12 21:51] hujinhan12 commented on #136
Never mind. I fixed it.

Now I know these numbers are passed as string in all functions. So, x1 y1 z1 cannot be converted to numbers again. They are simply meaning x1 y1 and z1....

[2018-06-12 21:52] #136 closed

[2018-07-02 15:32] hujinhan12 commented on #98
Any updates for this problem, guys?

[2018-07-04 16:07] pedropro opened #137 "Camera shadow"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.19.1 (compiled from source)
- UnrealCV Version:
- Client (python2, 3 or matlab): python 2
- Problem Description:

I noticed that on the images given by vget command, the camera/0/lit itself casts a circular shadow on objects. However this is now observed on my UE4 viewport.

To reproduce the problem, try to disable indirect light from the GlobalPos

[2018-07-16 09:45] martijn-vinotion commented on #116
Hi,

I am also using unrealcv for this purpose. I am trying to use commands to pause and unpause the game but I found that UnrealCV currently only has the pause functionality implemented while the resume command is commented out in code (and causes errors when uncommented and trying to compile).

Does anyone have a solution for this?
I see that UE4 has [this method](https://api.unrealengine.com/IN

[2018-07-16 09:57] martijn-vinotion opened #138 "Width changes when changing viewmode"
- Operating System: Ubuntu 16.04.4
- UE4 Version: 4.19.1
- UnrealCV Version: 0.3.10
- Client: python3

**Problem Description:**
Hi all,

When I change the viewmode to object_mask, the console prints

while I had set the width to 512 in the .ini file.
Is there a way to prevent this?

Thanks in advance!

[2018-07-16 13:21] martijn-vinotion commented on #116
I implemented the resume action in [this pull request](https://github.com/unrealcv/unrealcv/pull/139).

[2018-07-16 18:09] cdemirsoy commented on #116
You can directly use UE4 commands by using UnrealCV.

[2018-07-17 08:51] martijn-vinotion commented on #138
[This workaround](https://github.com/unrealcv/unrealcv/issues/82) worked for me.

[2018-07-18 14:18] martijn-vinotion commented on #98
For me, solution 1 worked but it did not solve the initial problem of the skeleton meshes not being colored when in object_mask viewmode. Has anyone found a solution for this?

[2018-07-21 19:02] cdemirsoy commented on #98
Hey,

This is really an important question. During my project, I have found a solution by chance.

While game is running, you will need to choose those mesh instances from explorer simply by clicking. Then you will see that they will be colored to white. This was what I needed to generate binary images (i.e., black and white).

If you are looking for another color, then it will probably require ch

[2018-07-23 09:08] JimmyLaessig commented on #135
I'm closely working with the plugin for a research project:
I can pretty safely say that with the current setup, landscapes won't be visible on the object mask. The reason for this is that UnrealCV stores the object mask id in an per-instance overideable vertex color buffer. Unfortuantely, they only consider static meshes for now, so the color buffer will no tbe overriden for every other mesh type

[2018-07-27 08:23] CallumFling commented on #135
I figured that was the case and this method was limited only to static meshes for the moment. A quick and dirty work around I have been using has been to use a series of smaller static meshes for terrain and just accept the fact i will be using a smaller world size and losing out on the LOD benifits the landscape brings to the table. That and the nice UE terrain painting/generation methods that ex

[2018-07-31 08:37] UrsusExplorans commented on #74
Using [qiuwch/unrealcv-docker-images](https://github.com/qiuwch/unrealcv-docker-images) to run UnrealCV, I encountered the same issue. Obviously "vget /camera/0/lit png" produces the same result as "vget /camera/0/lit lit.png". In other words, it produces a png file and returns the path of that file. Hera are a few lines to reproduce that behavior:
To start the Docker image after building them:
`m

[2018-08-07 13:38] Ahleroy opened #141 "Cannot build on UE 4.20.1"
I cannot build UnrealCV whatever the version of the engine and the version of the plugin.

- OS : Windows 10 64 bits
- UE Version : 4.20.1 (tried on 4.19.2 as well)
- Unreal Version : unrealcv-fast (tried with master and also 3.10)
- Client : Python 3.6
- Problem Description : unrealcv-fast do no build

Any suggestion ? Many thanks

[Log.txt](https://github.com/unrealcv/unrealcv/files/2266563/Log.

[2018-08-08 17:01] Ahleroy commented on #135
Using UnrealCV 3.10 with UE4.16.3 the landscape is displayed as a gray surface but with the lightning applied on it.  Th surface is not a perfect grey (blue = red = green). Therefore a post processing task could involve a k-mean if the number of class is not too big.

[code]

[2018-08-23 05:51] marksy-91 opened #142 "All objects re-rendered almost every frame after first client command issued."
- Operating System: Windows x64
- UE4 Version: 4.19.2 (Custom Build to get object_mask working in master branch).
- UnrealCV Version: Master Branch.
- Client (python2, 3 or matlab): Python 3.
- Problem Description:

I was recently working on updating the UnrealCV Plugin to support a GetComponentsInView() function so that we don't need to iterate over the entire object list for each captured frame.

[2018-08-23 06:12] marksy-91 commented on #137
Have you tried disabling shadowing for the Default Player/Pawn Class that you're using? I haven't experienced this issue but if you open the Lighting Settings of the Actor you should be see a field for 'Cast Shadow' which you can un-tick.

[2018-08-23 06:37] marksy-91 commented on #132
Why don't you create some python code that handles certain key-presses and when a key-press is received it sends a request to the UnrealCV plugin to get the current position? Then, once you're finished you can write all the recorded positions to a trajectory file. You can use pynput.keyboard for this purpose as an example.

Something like the following could get you started.

[code]
Or you could d

[2018-08-23 06:44] marksy-91 commented on #126
Why don't you get the image from UnrealCV Server as a numpy array and then take the responsibility of saving the image yourself?

See [here]( http://docs.unrealcv.org/en/latest/tutorials/generate_images_tutorial.html) for some examples. You can get the image then create a function called save_png and save it to a path you specify.

[2018-08-23 06:45] marksy-91 commented on #123
Make sure you're running your command prompt as administrator and try again to see if the problem persists.

[2018-08-23 06:48] marksy-91 commented on #119
In your project settings, have you un-ticked 'Use Less CPU when in background'?

![image](https://user-images.githubusercontent.com/35209732/44509196-50a4aa80-a6f4-11e8-88ef-bc4ca5dd3399.png)

[2018-08-24 12:13] revikiran1991 opened #143 "TcpServer.h:5:10: fatal error: 'Object.h' file not found"
- Operating System:Ubuntu 18.04
- UE4 Version:4.20.2
- UnrealCV Version: https://github.com/unrealcv/unrealcv.git
- Client (python2, 3 or matlab):python2
- Problem Description:
  ------------------------------
  Performing 3 actions (2 in parallel)
  [1/3] Compile Module.UnrealCV.cpp
  [2/3] Compile Module.UnrealCV.gen.cpp
  In file included from /home/ravi/Downloads/unrealcv-master/Plugins/Unreal

[2018-08-24 14:39] pedropro commented on #137
Yes, I ended up doing that for a light source. Definitely not ideal as it switches off shadows cast by other objects. But thanks.

[2018-09-01 19:09] nmerrill67 commented on #132
There is a script that does this in the examples directory called `record_camera_trajectory.py`. It recrds the poses as you move with the mouse and arrow keys and records it to json. After that you can randomly choose which pose for the current iteration to use.

[2018-09-04 18:34] cjauvin commented on #61
This is still an issue as of today, in September 2018.

[2018-09-05 08:47] Brawie commented on #112
Hello  Qiu @qiuwch , has this problem been solved yet? I 'm trapped in the same issue.

[2018-09-11 04:01] marksy-91 commented on #132
@nmerrill67 I don't think the script works on Windows.

[2018-09-28 06:53] Sanic commented on #98
+1

Is https://github.com/unrealcv/unrealcv/blob/fast/Source/UnrealCV/Private/Component/AnnotationComponent.cpp already stable and recommended to use?

[2018-09-29 23:49] atifkarim commented on #141
Hello @Ahleroy
In my case, It has worked on 4.19.2
System: Windows 10 64 bit, Python 3.6
I have cloned https://github.com/unrealcv/unrealcv.git

But for 4.20 it has failed.
[Log.txt](https://github.com/unrealcv/unrealcv/files/2431095/Log.txt)
[UBT-UE4Editor-Win64-Development.txt](https://github.com/unrealcv/unrealcv/files/2431096/UBT-UE4Editor-Win64-Development.txt)

[2018-09-29 23:55] atifkarim opened #144 "Build failed in Linux"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.20
- UnrealCV Version: unrealcv-master (https://github.com/unrealcv/unrealcv.git)
- Client (python2, 3 or matlab): Python 3.6
- Problem Description: unrealcv-master failed to build.

For any suggestion will be very grateful. Thanks.

[Log.txt](https://github.com/unrealcv/unrealcv/files/2431098/Log.txt)
[UBT-UE4Editor-Linux-Development.txt](https://

[2018-09-30 00:39] atifkarim opened #145 "cannot connect UnrealCV with UE4 Editor"
- Operating System: Windows 10, 64 bit
- UE4 Version: 4.19.2
- UnrealCV Version: master (https://github.com/unrealcv/unrealcv.git)
- Client (python2, 3 or matlab): python 3.6
- Problem Description:
I have tried to connect using `python -c "from unrealcv import client;client.connect()` this command in cmd prompt but it has shown in the output log of UE4 editor that it has connected though again dis

[2018-10-04 18:29] liorda commented on #141
Should be fixed with PR https://github.com/unrealcv/unrealcv/pull/146

[2018-10-04 18:30] liorda commented on #144
I was able to solve it with PR https://github.com/unrealcv/unrealcv/pull/146 on windows (crossed compiled the plugin to Linux)

[2018-10-04 18:31] liorda commented on #143
See PR https://github.com/unrealcv/unrealcv/pull/146 which fixes the build on 4.20.3

[2018-10-05 08:57] tjenus opened #147 "Client Status "Not Listening""
- Operating System: Linux 16.04
- UE4 Version: 4.16
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python 2.7
- Problem Description:
Client Status is "Not Listening" and i do not know how to change the status.
I was working with the StandaloneGame in UE4 Editor and it worked for a few weeks.
Yesterday my Linuxversion got some updates and now the status always says "Not Listening"...
T

[2018-10-05 10:06] atifkarim commented on #145
I have solved the problem by following [instructions](http://docs.unrealcv.org/en/latest/tutorials/generate_images_tutorial.html#Connect-to-the-game) using a .ipynb file
[connect_unrealcv.zip](https://github.com/unrealcv/unrealcv/files/2449837/connect_unrealcv.zip). [That](http://docs.unrealcv.org/en/latest/plugin/custom_scene.html#try-the-command-is-the-python-console)  was not working in my case

[2018-10-13 18:00] atifkarim opened #148 "object_mask is not working in 4.19.2"
- Operating System: Windows 10, 64 bit
- UE4 Version:  4.19.2
- UnrealCV Version: [master](https://github.com/unrealcv/unrealcv.git)
- Client (python2, 3 or matlab): python 3.6
- Problem Description:
I have tried to save object_mask by using `vget /camera/0/object_mask Test_object_mask.png` but instead of making any coloured image it was giving black and white image(while trying from viewmode lit)

[2018-10-13 21:08] qiuwch commented on #148
Hi, please try the fast branch, which is what I am using for 4.19. The object mask works perfectly for the fast branch.

I am still testing it and did not merge it to master yet. But will merge it soon.

[2018-10-13 21:32] atifkarim commented on #148
Hi, @qiuwch  thanks for your reply.

I have tried to build the fast branch but it was failed.
![unrealv_fast_build_error_4 19 2](https://user-images.githubusercontent.com/32655256/46910171-3ba00700-cf40-11e8-9874-701c4c2f52ac.PNG)

I have attached here the log files.
[UAT_Log.txt](https://github.com/unrealcv/unrealcv/files/2475859/UAT_Log.txt)
[UnrealBuildTool-2018.10.13-23.18.22.txt](https://gith

[2018-10-14 01:59] qiuwch commented on #148
Fixed, https://github.com/unrealcv/unrealcv/commit/d258c9b7b9f4a919f7105622cbeb795828cb1f1c

Please `git pull`. Sorry for the inconvenience, please let me know if you see anything unexpected.

[2018-10-14 09:53] atifkarim commented on #148
@qiuwch  thanks for your information. Yes, it has worked perfectly regarding changing the viewmode.

But right now I am facing another problem regarding saving image.

1/ `vget /camera/0/lit 1_lit.png` normally it should save an image in **lit** mode while in which mode the viewport is it doesn't matter but it is not working. Like, if the viewport is in **normal** mode and I have inserted `vget /c

[2018-10-15 08:20] CallumFling commented on #148
Hi @atifkarim, @qiuwch , I am seeing similar behaviour on the latest fast branch and have been for a while. The camera appears to be getting stuck (for all viewmodes other than 'lit') at world position (0,0,0) rather than being correctly attatched to the pawn. This has been observed on realisticRendering and my own maps/landscapes.

I havent found a fix for this as of yet and have resorted to usin

[2018-10-16 10:47] CallumFling commented on #148
Hi @qiuwch , Thanks a lot for getting that sorted! I can confirm that, for me at least, the camera now moves around properly for the ground truth data generation.

One strange thing i am seeing coming from 4.17 to 4.19 is that landscapes are transparent. Previously i was able to get them to render as a colour of 74, 74, 74 with a bunch of engine showflags but this no longer seems to be the case an

[2018-10-20 23:24] sanford87 opened #149 "Error Can not find a handler for URI"
- Operating System: Windows 10
- UE4 Version: 4.19.2
- UnrealCV Version:3.10
- Client (python2, 3 or matlab): python3
- Problem Description:
Using the command **"**vget /camera/0/ C:/Users/eig456/lit.png**"** throws the error:
**"**error Can not find a handler for URI 'vget /camera/0/ C:/Users/eig456/lit.png'**"**

The

Plugin works great otherwise. The command **"**shot**"** and **"**vset /viewmo

[2018-10-27 16:37] atifkarim opened #150 "error in showing obejct name and camera pose"
- Operating System: Windows 10, 64 bit
- UE4 Version: 4.19.2
- UnrealCV Version: [fast](https://github.com/unrealcv/unrealcv/tree/fast)
- Client (python2, 3 or matlab): python 3.6
- Problem Description:
1/ While I have tried to execute **vget /objects** it not only shows the actors which I have called by creating a new class but also some unknown output is also given by it. And if I drag and drop

[2018-11-04 22:29] marksy-91 commented on #142
@qiuwch Any chance you were able to look into this phenomenon?

[2018-11-05 05:48] qiuwch commented on #142
@marksy-91  Sorry for this late reply. I can not think of which part of the code cause all actors to render.
I need to check this tomorrow and get back to you later.

The data capture in the unrealcv is done with [SceneCaptureComponent2D](https://api.unrealengine.com/INT/API/Runtime/Engine/Components/USceneCaptureComponent2D/index.html) which acts like a camera. If the SceneCaptureComponent is not

[2018-11-06 17:55] elfring opened #151 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") in [the function “FPlayerViewMode::SaveGameDefault”](https://github.com/unrealcv/unrealcv/blob/623d7c7df62e1442b79722b504ec869f8e6b118d/Source/UnrealCV/Private/PlayerViewMode.cpp#L195 "Update candidate: FPlayerViewMode::SaveGameDefault()").

[2018-11-06 22:27] allexmendes opened #152 "Object_mask not working with objects created in runtime (4.19.0)"
- Operating System: Windows, *64
- UE4 Version: 4.19.0
- UnrealCV Version: [unrealcv-fast](https://github.com/unrealcv/unrealcv/tree/fast)
- Client (python2, 3 or matlab): Python 3.5
- Problem Description: Object mask not working in objects created in runtime.
I tried deleting bProxyIsSelected as a stated solution in issue #98 but didnt work.

segmentation working with objects created in editor
![

[2018-11-06 22:35] qiuwch commented on #152
The annotation color is assigned during `BeginPlay` [here](https://github.com/unrealcv/unrealcv/blob/492c32ac05213e40af89bdfae205a03a4c4b7c67/Source/UnrealCV/Private/Controller/UnrealcvWorldController.cpp#L56). You can do it by yourself if you know how to do it in c++.

[2018-11-07 03:43] qiuwch commented on #151
Thanks for teaching me this, I will fix it.

[2018-11-07 09:20] allexmendes commented on #152
Thank you for the pointer! Although I try to dabble around c++... I'll try it.
Do you have any estimate on when you guys will be able to address it?

[2018-11-12 09:19] atifkarim commented on #150
@qiuwch  can you please look at this issue to fix the `vget/objects` output?

[2018-11-12 15:10] atifkarim commented on #150
`vget /objects` is working . Actually, there was some weird actor list as mentioned in the above image but I have seen later it has also listed the actor name which I have dragged from the sidebar which I haven't seen before while using `vget /objects` . That was not actually a problem , I have missed it. My fault.

And `vget /camera/[id]/pose` is not working in UE4.19 but still the coordinates ca

[2018-11-12 15:10] #150 closed

[2018-11-12 15:13] atifkarim commented on #148
The problem is solved and working perfectly for UE4.19. Thanks again @qiuwch

[2018-11-12 15:13] #145 closed

[2018-11-19 08:47] liorda opened #153 "Quantization in lit exr"
- Operating System:
Windows and Linux
- UE4 Version:
4.20
- UnrealCV Version:
Latest
- Client (python2, 3 or matlab):
Python
- Problem Description:
Inspecting the output EXR file from "vget /camera/0/lit 1.exr", the histogram shows quantization to 256 bins, I.e. a lot of missing values. Does this makes sense?

[2018-11-26 00:55] marksy-91 commented on #142
Thanks @qiuwch.

My current work around is similar to what you suggested (i.e. extract instance contours from the segmentation mask).

I've sped up the process quite a bit by modifying the 'vget /objects' command to also return the corresponding annotation color assigned to each actor. From this, I also work out what the displayed color would be based on the gamma conversion and I put this into a

[2018-12-02 15:46] atifkarim commented on #148
Hi @qiuwch  can you please provide me the branch link to clone which will solve the object_mask problem. Last time I have cloned it but again I am facing the problem like `vget /camera/0/object_mask png` it has given a shaded image. I have tried to build **unrealcv** for a new device but failed and the configuration of my new device just like before

[2018-12-22 21:09] CallumFling commented on #135
As a quick update to this (sorry it has been so long 😞 ) but by placing a bunch of engine showFlags function calls in the object annotation code.

This leads to landscapes being visible and not shaded with a locked value of 76 (I think, can check in the new year if anyone really wants me to) which is perfectly usable for my use case and hopefully others too.

If anyone wants, I can drop the exact

[2019-01-23 16:25] #135 closed

[2019-01-24 11:04] jprodriguezg opened #154 "UnrealCV server is not running"
- Operating System: Ubuntu 16.04
- UE4 Version:4.16.03
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python3
- Problem Description: I am trying to use unrealcv with  the UE4 Editor instead of a binary. I wrote a python script to communicate with the server (like in the [examples](http://docs.unrealcv.org/en/latest/tutorials/generate_images_tutorial.html)). Initially, I tested the scr

[2019-01-25 10:33] CallumFling opened #155 "Object_mask not working with splineMeshComponents"
- Operating System: Win7
- UE4 Version: 4.19.2
- UnrealCV Version: Latest Fast
- Client (python2, 3 or matlab):  Python 3
- Problem Description: When using objects such as splines with splineMeshComponents on them, Unreal CV doesn't correctly apply a segmenation material to the mesh components.

In the ObjectAnnotator.cpp, and other object annotation code for that matter, it seems that UnrealCV is

[2019-01-27 14:14] atifkarim opened #156 "Build failed for UE4.21"
- Operating System: Windows 10, 64 bit
- UE4 Version: 4.21
- UnrealCV Version: master, fast
- Client (python2, 3 or matlab): python3
- Problem Description:

I have tried to build UnrealCV for UE4.21 but it has failed. Both master and fast branch I have tried but an error has occurred. Can you please inform whether there is any support for this or not?

[2019-01-27 14:19] atifkarim commented on #154
@jprodriguezg  Can you please try with this? In my case, it has worked.

[code]
Also before executing this code please go to **PLAY** mood in your game.

[2019-01-28 08:20] jprodriguezg commented on #154
Hello @atifkarim,

Unfortunately, I still have the same error with your code.
I tried it with the binary version of my Unreal project and it works. However, It does not work with the UE4 editor. Any other idea?

[2019-01-28 08:57] qiuwch commented on #154
Hi,

Did you close the standalone binary? Only one program can be bind to the port 9000. So if the standalone is already running. The editor will fail to listen on the same port.

[2019-01-28 09:06] jprodriguezg commented on #154
Hello,

Yes, I closed the binary and I am running just the UE4 editor

[2019-01-28 10:06] CallumFling commented on #155
After doing some digging around myself, I _think_ I have found a possible cause for this issue.

In the AnnotationCamSensor.cpp, the list of annotated scenen components that is used to produce data for the segmentation sensor is gathered as a list of UObjects using GetObjectsOfClass and then cast to a UPrimitiveComponent.

The component information that defines each SplineMeshComponent is, unfortu

[2019-01-28 13:31] qiuwch commented on #156
Can you paste your error here? Fast branch supports 4.21. Master branch is not compatible with 4.21.

[2019-01-28 23:15] atifkarim commented on #156
@qiuwch I have uploaded here the log file and the screenshot.
[Log.txt](https://github.com/unrealcv/unrealcv/files/2805349/Log.txt)
[UBT-UE4Editor-Win64-Development.txt](https://github.com/unrealcv/unrealcv/files/2805350/UBT-UE4Editor-Win64-Development.txt)
![ue4 21_error_for_ucv](https://user-images.githubusercontent.com/32655256/51872786-f969cc80-235a-11e9-849a-43da1ed9f07e.PNG)

[2019-01-29 17:02] qiuwch commented on #156
I fixed the compile issue for 4.21, but did not have time to rigorously test the features yet.

The reason for the failure is the UE4 build tool has a different logic for discovering header files. The major change is in the file `UnrealCV.build.cs`.

I am traveling these two days and will run some tests after got back.

The command I used for testing the build is `E:\\UE_4.21\\Engine\\Build\\Batch

[2019-01-29 17:04] qiuwch commented on #155
Cool! Thanks for digging on this issue. I will think more about it.

[2019-01-29 17:07] qiuwch commented on #154
If it is in Linux, I suggest checking which program is using the port. For example shown in this article. https://www.cyberciti.biz/faq/unix-linux-check-if-port-is-in-use-command/

The port is in use is the only reason I saw before that can cause this symptom.

If you found no program is using port 9000 while still having this issue, please let me know.

[2019-01-29 23:43] jprodriguezg commented on #154
Hello @qiuwch,

Before testing your suggestion I reinstalled UE4 (4.16.3). After doing so, I compiled again my project, and now I am able to have a connection between the python script and the UE4 Editor.  Indeed, I checked the status of unrealcv on the Editor and it appears as `Is Listening`. I really do not what happened, changed or what was generating the issue.

I followed your suggestion, and

[2019-01-30 08:48] jprodriguezg commented on #154
Hello @qiuwch

Sorry, it was a false alarm. I did not solve the problem (totally). Today, I opened the project and I tried the connection using the UE4 Editor. I have the same issue again. The `vget /unrealcv/status` returns `No Listening`. I checked the ports, and when it happens the port 9000 is not used.

Any suggestion?

[2019-02-01 07:49] atifkarim commented on #156
@qiuwch thanks for fixing the issue, problem has solved.

[2019-02-01 07:49] #156 closed

[2019-02-12 17:48] szx0112 opened #157 "Client is connected, images can capture through python command, but keep getting error message: Can not receive a response from server, timeout after 5.00 seconds"
- Operating System: Windows 7 64
- UE4 Version: 4.16.3
- UnrealCV Version: latest
- Client (python2, 3 or matlab): python 3.7
- Problem Description:

I got the error message in pycharm:

 ERROR:__init__:336:Can not receive a response from server, timeout after 5.00 seconds
Exception in thread Thread-3:
Traceback (most recent call last):
  File "C:\Users\Hashem\Anaconda3\lib\threading.py", line 916

[2019-02-25 12:37] PuffinNo23 opened #158 "creating object_mask"
- Operating System: Windows 10
- UE4 Version: 4.21
- unreaCV Version is a mix of the latest unrealcv/master version and [liorda's master version](https://github.com/liorda//unrealcv) for compatability with UN4.21
- Problem Description: No object_mask

Hi there,
I am looking into computer vision at the moment and want to give unrealCV a try. To say this up front: I am neither very good nor experien

[2019-02-26 13:16] PuffinNo23 commented on #158
Found a different way to get to my goal without the object_masks.

[2019-02-26 13:16] #158 closed

[2019-03-04 15:52] CallumFling commented on #155
I've been having a bit more of a look into this and have found a few new things.

To arrive at the image I posed in the original lissue, the AnnotationCamSensor.cpp needs to have it's `ESceneCapturePrimitiveRenderMode` set to `PRM_RenderScenePrimitives` rather than `PRM_UseShowOnlyList`. If the `PRM_UseShowOnlyList` is set as the primitive render mode, the splines appear as invisible rather than t

[2019-03-15 18:57] matthewpurri opened #159 "Additional segmentation masks"
Are there any plans on adding other masks?  I think it would be interesting to add a material or texture mask.

[2019-04-13 16:13] atifkarim opened #160 "Build failed for Unreal Engine 4.22"
- Operating System: Windows 10, 64 bit
- UE4 Version: 4.22
- UnrealCV Version: checked with master and fast branch
- Client (python2, 3 or matlab): python3
- Problem Description:

Tried to build UnrealCV for Unreal Engine 4.22 but failed. I have tried both **fast** and **master** branch. I have enclosed here the error report.
[Log.txt](https://github.com/unrealcv/unrealcv/files/3076429/Log.txt)

[2019-04-22 04:06] thepbac opened #161 "Cannot send/receive data from a C# program"
- Operating System: Window 7 64
- UE4 Version: 4.20
- UnrealCV Version: lastest
- Client (python2, 3 or matlab): C# program
- Problem Description:
Hi.
I want use my C# program to connect and communication with my project which used UnrealCV plugin.
But when I send command "vget /objects" by my program, I have met the error message like this:
+  In UE Editor, the error message:
_LogTemp: Warning: N

[2019-04-22 10:05] stavBodik commented on #14
@dineshreddy91

CameraMatrix = IntrinsicMatrix * ExtrinsicMatrix

Where ExtrinsicMatrix = RotationMatrix*TranslationMatrix(aKa position)

For C++ users :

ProjectionMatrix projMatrix = client.simGetCameraInfo("0").proj_mat;

VectorMath::Matrix3x3f rotationMatrix = client.simGetCameraInfo("0").pose.orientation.toRotationMatrix();

VectorMath::Vector3f cameraPosition = client.simGetCameraInfo("0").p

[2019-04-22 15:31] stavBodik opened #162 "moveByVelocityAsync Duration not working"
Trying to rotate drone 180 degrees slowly,
No matter what duration I am using, it is moving with same speed :

float duration = 100000.0f;
client.moveByVelocityAsync(0, 0, 0, duration, DrivetrainType::MaxDegreeOfFreedom, YawMode(false, 180));

std::this_thread::sleep_for(std::chrono::duration<double>(duration));

[2019-04-24 07:54] CallumFling commented on #162
Hi StavBodik,

I think you might have the wrong repo here im afraid.

The one you are looking for is https://github.com/Microsoft/AirSim. Might be worth opening an issue over there?

Thanks,
Callum

[2019-04-27 23:28] Vedhus commented on #14
@stavBodik is the projMatrix the IntrinsicMatrix?

[2019-04-28 05:29] stavBodik commented on #14
@Vedhus No, The projection matrix is the camera matrix.

[2019-04-28 05:33] Vedhus commented on #14
@stavBodik thanks, do you know if I can use the camera matrix directly with the cv2.reprojectImageTo3D?

[2019-04-28 05:37] stavBodik commented on #14
@Vedhus "In computer vision a camera matrix or projection matrix is a matrix which describes the mapping of a pinhole camera from 3D points in the world to 2D points in an image. " I never tried but this matrix should help you to do the inverse operatiob if you know the depth/distance from the camera to each pixel.

[2019-04-28 05:40] Vedhus commented on #14
@stavBodik  Thanks, last question. Does this work with the python client as well?
    proj = client.simGetCameraInfo("0").proj_mat

[2019-04-28 05:53] stavBodik commented on #14
@Vedhus I don't know, its should work maybe the syntax is different but you should find way to get the same using python.

Any way I figure out that in digital camera matrix (computer graphics like openGL/UnrealEngine) the pixel ratio equals to 1 because there is no physical distortion like in real life camera, this means that getting the intrinsic matrix is simple,no calibration operation needed

[2019-04-28 05:57] Vedhus commented on #14
Thanks! Do you know why the projection matrix is 4x4 and not 3x4? Because the Intrisic matrix is 3x3 and extrinsic matrix is 3x4.

[2019-04-28 05:57] Vedhus commented on #14
@stavBodik Thanks! Do you know why the projection matrix is 4x4 and not 3x4? Because the Intrisic matrix is 3x3 and extrinsic matrix is 3x4.

[2019-04-28 06:02] stavBodik commented on #14
@Vedhus

Some calibration software provides a 4x4 matrix, which adds an extra row to preserve the z-coordinate. In this case, just drop the last row to get a 3x4 matrix.

[2019-04-29 01:17] isalirezag opened #163 "what python version should be used for unrealCV?"
Can anyone tell me what python version should i use to be able to use unrealcv?
If it is python 2, is there any plan to upgrade it to python 3 considering the fact that python 2 will stop being supported?

[2019-04-29 05:58] VitaliyTalyh opened #164 "Object_mask not working in the shippable version"
- Operating System: Windows 10, Linux (Ubuntu 16.04), MacOS (10.4)
- UE4 Version:4.20.3, 4.21.2
- UnrealCV Version: master / fast branches
- Client (python2, 3 or matlab): Python 3.7
- Problem Description: All works fine in the development version. But in the shippable version object_mask map return the black image.

[2019-05-13 17:31] isalirezag opened #165 "ERROR:__init__:336:Can not receive a response from server, timeout after 5.00 seconds"
-

[2019-05-13 17:44] isalirezag commented on #72
@qiuwch where should i run the `vget /unrealcv/status` in what location?

[2019-05-14 00:10] medha-gupta commented on #72
I am following the Getting Started page on the UnrealCV website using RealisticRenderings. While attempting to run the snippet of python code given to generate images from the scene, I am running into the same timeout error (ERROR:init:336:Can not receive a response from server, timeout after 5.00 seconds).

In the unreal command console vget /unrealcv/status shows that it is listening and client.

[2019-05-14 01:40] isalirezag commented on #154
Did you solve this?
if so can you please tell me how did you do it?
I have the same problem. It works fine when I do it in UE4 consul, but it gives me this error when I do it in terminal :(

[2019-05-14 02:10] #165 closed

[2019-05-14 02:10] #163 closed

[2019-05-15 17:34] medhagitnod opened #166 "UnrealCV module cannot be found in UE 4.22"
- Operating System: Ubuntu 18.04
- UE4 Version: 4.22
- UnrealCV Version: v. 0.3.10
- Client (python2, 3 or matlab): python 2
- Problem Description: When following the installation tutorial in the documentation, I have moved the UnrealCV folder into the Unreal Engine plugin folder. When attempting to launch Unreal Engine I get this message: 'Plugin 'UnrealCV' failed to load because module 'UnrealCV

[2019-05-15 18:17] #166 closed

[2019-05-16 12:46] jprodriguezg commented on #154
Regarding the issue that I reported.

I honestly don't know the source of the problem. I tried to solve it by uninstalling and installing again UE4 but it didn't solve the issue.

I tried with 4.18 version, and I am able to establish the connection from UE4 Editor instead from the binary. However, the connection issue happens sporadically. The only way that I found to solve it is to activate and d

[2019-05-31 18:34] ChrisGoKim commented on #166
Hey medhagitnod. I've been having this same issue in UE4 Version 4.18. I can't figure out what's wrong although this is an incredibly basic installation set-up. How did you resolve this issue? Thanks.

[2019-06-11 12:27] atifkarim opened #167 "How to build UnrealCV for different UE4 version in Linux"
- Operating System: Ubuntu 18.04.2 LTS
- UE4 Version: 4.21
- UnrealCV Version: git checkout fast
- Client (python2, 3 or matlab): python 3.7
- Problem Description:
I want to build UnrealCV for UE4.21. I have already built it for 4.19 but for another purpose, I also want to use it along with 4.21 but the problem is during building process it has failed. In the error log, it is also showing somethin

[2019-06-11 13:03] #167 closed

[2019-06-13 15:11] isalirezag opened #168 "how can i use vset /action/keyboard [key_name] [delta]"
- Operating System: Ubuntu
- UE4 Version: 4.18
- UnrealCV Version:3.10
- Client (python2, 3 or matlab):python2
- Problem Description: I want to press key "s" in unrealcv, how I can do that using vset /action/keyboard

[2019-06-13 17:50] isalirezag commented on #116
@cdemirsoy @martijn-vinotion can tell us how did you solve it?
@qiuwch can you tell how to do it in blueprint?

[2019-06-13 18:01] cdemirsoy commented on #116
I finalized this project of mine 14 months ago. Solution was basically running a frame, pausing, taking a screenshot, applying binary filter to human body, taking one more screenshot and then going to next frame and repeating it.

So eventually I had a data set with ground truth.

I could pause the simulation via Python API and that's it.

[2019-06-13 20:54] isalirezag commented on #116
@cdemirsoy I see, can you please tell me how did you pause? did you use `vset /action/keyboard` ? if so do you know what `delta` should be in this command??

[2019-07-01 13:08] xiaoxiangyeyuwangye commented on #77
@qiuwch Thanks for your awesome work.
If I understand correctly, the out normal vector is under world coordinate.
If I want to get normal vector under camera coordinate do your have any suggestion about how to realize it?
Thanks for any suggestion.

[2019-07-01 15:15] mikeroberts3000 commented on #77
@xiaoxiangyeyuwangye It has been a while since I've used UnrealCV, so the exact syntax I'm suggesting might have changed slightly. If anyone knows of a more direct way of doing this in 2019, please correct me. But in 2017, the easiest way of converting between world space and camera space was as follows.

First, you can use UnrealCV to obtain the camera orientation as a triple of Euler angles.

[c

[2019-07-12 01:23] zyx792726304 opened #170 "ERROR:__init__:173:Can not connect to ('localhost', 9000)"
- Operating System:WIN7
- UE4 Version:NONE
- UnrealCV Version:
- Client (python2, 3 or matlab):python3
- Problem Description:
Recently, unrealcv was used in a python project. I just downloaded the unrealcv folder from GitHub and imported it as a package in my project. Now the mistake has been reported. I just downloaded this folder, not other software such as UE4. How should I deal with him?
![2Q}

[2019-07-12 02:01] #170 closed

[2019-07-14 18:15] ablack94 commented on #160
I got it to work by using the branch for PR #146

[2019-07-16 05:12] olzhaspubg opened #171 "How to build from source?"
- Operating System: Windows 10
- UE4 Version: 4.16
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): Python 3.7
- Problem Description:
Sorry if this is a stupid question, but I don't seem to be getting how to build from source. On the installation instructions page, after running "pip install -U unrealcv", it says we need to run "python build.py". But the build.py doesn't exist when inst

[2019-07-16 08:05] #171 closed

[2019-07-20 07:48] Jyouhou commented on #95
Hi @deitylink1 ,

I encountered the same issue. When I sent 'vset /viewmode object_mask', the scene just turned gray. 'vget /camera/0/object_mask xxx.png' didn't write anything to my disk as well.

I am wondering if you have solved this problem or not. :)

[2019-07-20 18:23] qiuwch commented on #95
Hi, @Jyouhou

What is your UE4 version?

[2019-07-21 07:37] Jyouhou commented on #95
Hi @qiuwch ,

I use UE4.18 on Ubuntu 16.04. The version of my UnrealCV is 0.3.10.

[2019-07-21 23:03] qiuwch commented on #95
If you use vget /camera/0/object_mask png. Will it give you a binary response?

The png file location is relative to the binary file, so it might be deeply buried in a folder.

Does image capture work? I mean vget /camera/0/lit filename.

[2019-07-22 03:17] Jyouhou commented on #95
Hi @qiuwch ,

Yes, it does return a binary response. But the response is black&white. So what matters most is that the returned object mask does not contain meaningful information...

Since I use absolute path only, I believe it's not because the file has been put somewhere else. Besides, the same set of commands (lit/depth/normal) work perfect under the same setting and same filepath.

[2019-07-22 04:11] qiuwch commented on #95
I think I remember the reason.

It is because of a breaking change of UE4 when the engine developer updates the engine from 4.16 to 4.17.

The solution are:
1. Use 4.16 and master branch of unrealcv
2. Use > 4.16 version (recommend 4.19) and use fast branch of unrealcv.

I highly recommend using 4.19 and the fast branch, which is what we are using internally in our lab.

The details of the breakin

[2019-07-22 05:10] Jyouhou commented on #95
Hi @qiuwch

[2019-07-22 05:14] Jyouhou commented on #95
Hi @qiuwch

Thanks for your reply!

Yep, the slow speed is another issue I am faced with. Earlier I noticed the "fast" branch from this thread
[#109](https://github.com/unrealcv/unrealcv/issues/109#issuecomment-358886970).

I guess this fast version can help.

Thanks!

[2019-07-22 06:33] olgkad2 opened #172 "Foliage and Landscapes"
- Operating System: Windows 10
- UE4 Version: 4.16
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): Python 3
- Problem Description: Object segmentation works fine, except for landscapes and foliage. Is it possible to change colors of landscapes and foliage using the 'vset /object/[object_name]/color r g b' command ? I am new to Unreal, but I assume these are not exactly the same as othe

[2019-07-22 09:14] olgkad2 commented on #135
@CallumFling, hi! I know it's been a long time, but do you by any chance remember the exact commands that you used? It would be of great help!

[2019-07-22 09:15] olgkad2 commented on #172
Realized it's a duplicate of another issue: #135

[2019-07-22 09:15] #172 closed

[2019-07-22 09:27] Jyouhou commented on #95
Hi @qiuwch ,

I am experimenting with 4.18. In case other people encounter similar issues, I would like to write it down here.

The current fast branch (7d68129) relies on a header called "Runtime/Engine/Public/Rendering/SkeletalMeshRenderData.h", which does not exist in version 4.18. Therefore, it would fail to compile for UE4.18. 4.19 should solve the problem

[2019-07-22 09:28] Jyouhou commented on #95
Hi @qiuwch ,

I am experimenting with 4.18. In case other people encounter similar issues, I would like to write it down here.

The current fast branch (7d68129) relies on a header called "Runtime/Engine/Public/Rendering/SkeletalMeshRenderData.h", which does not exist in version 4.18. Therefore, it would fail to compile for UE4.18. 4.19 should solve the problem.

It would be greatly appreciated if

[2019-07-23 08:47] CallumFling commented on #135
Hi @olgkad2, sorry for the late reply!

In order to get the landscapes showing up, I modified the `AnnotationCamSensor.cpp` file by adding the line `this->PrimitiveRenderMode = ESceneCapturePrimitiveRenderMode::PRM_RenderScenePrimitives;` within the constructor.

The caveat with this method is, while landscapes now show up, they show up locked as a mask value of 76 (this seems to be some sort of d

[2019-07-24 02:21] olgkad2 commented on #135
@CallumFling  Thanks a lot! Any solution will do it for me haha

[2019-07-24 08:31] CallumFling commented on #135
@olgkad2 I should also mention that as a solution to the issue noticed by @Ahleroy, you can extend the ShowFlags in the AnnotationcamSensor constructor to include disabling lighting related options found in this doc page (https://api.unrealengine.com/INT/API/Runtime/Engine/FEngineShowFlags/index.html)

I disabled everything to do with lighting in the constructor and CaptureSeg functions of the `An

[2019-07-25 06:30] Jyouhou opened #173 "(Solved) Found one bug in 4.22 and fixed"
- Operating System: Ubuntu 16.04
- UE4 Version: 4.22
- UnrealCV Version: diva-branch
- Client (python2, 3 or matlab): N/A
- Problem Description:

While compiling a clean diva-branch that was just downloaded from github, the following error occurred:

../unrealcv-4.22/Plugins/UnrealCV/HostProject/Plugins/UnrealCV/Source/UnrealCV/Private/Sensor/TextureReader.cpp:144:10: error: unknown type name 'FGl

[2019-07-25 06:31] Jyouhou commented on #173
I am not sure how well represented my environment is, but it may help some people :)

[2019-10-05 06:07] whatseven commented on #14
The focal length you calculate here is measured in pixel, but how can I get the focal length measured in real-world units(mm)? I can't find the sensor size of the default camera in the unreal engine.

Without the real focal length, how can I reproject the point into 3D world coordinates?

[2019-10-20 15:19] jiaxiaogang14 opened #174 "IOError: [Errno 2] No such file or directory: './camera_traj.json'"
- Operating System:
- UE4 Version:
- UnrealCV Version:
- Client (python2, 3 or matlab):
- Problem Description:

Does anyone know where this file is?

[2019-11-05 08:11] ybxbupt opened #175 "command not recognized"
- Operating System: win10
- UE4 Version:4.22
- UnrealCV Version:0.3.10
- Client (python2, 3 or matlab):python2
- Problem Description:
I create a new project mount.uproject, and build
 ['python', 'build.py', '--UE4', 'D:\\unreal\\UE_4.22', 'D:\\UnrealProjects\\mount\\mount.uproject']
and get mount.exe
when running mount.exe, if input "vget /camera/0/lit 1_lit.png", and error occurred:
"command not

[2019-11-06 04:36] qiuwch commented on #175
Can you try `vget /unrealcv/status`. It seems unrealcv is not installed at all.

[2019-11-08 01:03] ybxbupt commented on #175
yes, you are right
I did this and ok:
Install to project
Go to project folder which contains [ProjectName].uproject
Create a folder called Plugins
Put UnrealCV folder into the Plugins folder.
Install to Unreal Engine
Go to the plugin folder of Unreal Engine which is Engine/Plugins
Put UnrealCV folder into the Plugins folder

[2019-11-08 02:32] qiuwch commented on #175
Did you see any error in the packaging script output? Can you send the output to me? qiuwch@gmail

[2019-11-08 04:11] ybxbupt commented on #175
I just downloaded "unrealcv_Win64_0. 3.10" from "https://github.com/unrealcv/unrealcv/releases" url ,
Unzip it and copy it to the "ue_4.16/Engine/Plugins/" folder, then unrealcv can be used in UE4 with no errors

[2019-11-08 04:14] ybxbupt commented on #175
It is very slow to download "unrealcv_Win64_0. 3.10" from "https://github.com/unrealcv/unrealcv/releases" url,
I share baidu cloud link here, for the convenience of friends in China download
链接：https://pan.baidu.com/s/1_1j9ekT1eePIRKjTrw8DXg
提取码：s32y

[2019-11-12 10:47] Jorge-IAV opened #176 "Cant compile from source UE4.21"
- Operating System: Linux - Ubuntu 16.04
- UE4 Version: 4.21
- UnrealCV Version: Master
- Client (python2, 3 or matlab): python 2.7
- Problem Description: Can't compile from source code. This is the end of my error log:

Target is up to date
  Total build time: 1.17 seconds (NoActionsToExecute executor: 0.00 seconds)
  Parsing headers for UE4Editor
    Running UnrealHeaderTool UE4Editor "/hdd/Unre

[2019-11-14 10:22] #176 closed

[2019-11-15 13:01] Jorge-IAV opened #177 "Selective Object mask"
- Operating System: Linux
- UE4 Version: 4.21
- UnrealCV Version: latest fast branch
- Client (python2, 3 or matlab): python2
- Problem Description: The object mask works for only some of the actors in the scene. I cant seem to find a difference between the actors that could explain why some are colored and some are not. In the picture, the two trees in the red boxes are the same mesh but one is c

[2019-11-25 15:47] AhmedAzizYedes opened #178 "Crush when using standalone mode"
- Operating System: Ubuntu 18.04
- UE4 Version: 4.22
- UnrealCV Version: latest version
- Client (python2, 3 or matlab):
- Problem Description: Unreal Engine crushes when using standalone mode.
Actually, when i run a simulation using standalone mode i have a crush in unreal engine. It says that there is no World pointer so we can't get the default viewmode and other stuff related to our World.
I h

[2019-11-26 10:10] AhmedAzizYedes commented on #137
I know this is a bit late but I think the problem is due to the DefaultPawn used in your GameMode.
I think that your GameMode is set to none and by default when the gameMode is set to none Unreal use the DefaultPawn which have a spherical mesh that casts shadows, try and switch it to **UE4CVGameMode**, they use their own pawn without mesh nor collisions.
Hope that solves your problem.

[2019-11-26 20:07] mikeroberts3000 commented on #173
This fix helped me build the "4.22" branch of UnrealCV against Unreal version 4.22.3. Thank you @Jyouhou 😄

[2019-11-26 20:35] tensorpro commented on #98
I'm seeing the same issue on 4.22 and 4.23. Is there a way to get this working without changing the engine source code?

[2019-11-29 23:41] mikeroberts3000 commented on #44
This issue appears to be present in the "4.22" branch built against Unreal 4.22.3.

Depth images do work correctly for Realistic Rendering, but they do not seem to work correctly for Infinity Blades: Grass Lands. My previously reported solution of disabling post-processing volumes doesn't seem to work any more. Remarkably, I also can't seem to get depth images working in a new project with no star

[2019-11-30 01:53] qiuwch commented on #44
It seems changing the GameMode to UnrealcvGameMode can solve it.

This is what I have.

![image](https://user-images.githubusercontent.com/1688418/69894177-3d668e80-12ea-11ea-9a19-f1605a648b85.png)

[2019-11-30 02:09] mikeroberts3000 commented on #44
Hi @qiuwch, great to hear from you and to see all the fantastic progress on UnrealCV. I'm so glad I asked about this. Your fix worked for me. I also didn't need to manually disable the post-processing volumes in the scene like I did in 2017 😄

[2019-11-30 02:16] qiuwch commented on #44
Great to see it works. This code is actively maintained, but the documentation is far behind, which I should spend more time on.
We are actively using it in research projects of our team. If you saw more issues, please let me know and we might have a solution.

[2019-12-04 00:02] Jyouhou commented on #173
That's great!

[2019-12-22 21:52] omrijsharon opened #180 "Is there any way to send action of gamepad/mouse axis instead of keyboard keys?"
- Operating System: win7
- UE4 Version: 4.22
- UnrealCV Version:
- Client (python2, 3 or matlab): python 3
- Problem Description:
I am using unrealcv so my reinforcement agent can control a quadchopter.
For this I want to send a command/action that controls the gamepad thumbstick axes.
I found a way to control only the keyboard with press and release of the keys such as:
client.request('vset /acti

[2020-01-31 13:34] Aspen233 opened #181 "Compile for UE4.24 failed."
- Operating System: Win10
- UE4 Version: 4.24
- UnrealCV Version: compile from source code
- Client (python2, 3 or matlab): python3
- Problem Description:
I was compiling for UE4.24 when these errors occurred. The Chinese sentence "参见xxx的声明" means "see declaration of xxx". Sorry about my compiler :)，"行号" means number of line, "位置" means location.
[UBT-UE4Editor-Win64-Development.txt](https://githu

[2020-02-07 09:52] Jorge-IAV opened #182 "Custom image resolution not working"
- Operating System: Linux
- UE4 Version: 4.21
- UnrealCV Version: latest fast branch
- Client (python2, 3 or matlab): python2
- Problem Description: I am trying to get images with the object mask at a resolution of 1280x720. However, the images I get are always 640x480. I have tried modifying the unrealcv.ini file but it doesn't seem to work. The file looks like this:

I ran the client.request('vg

[2020-03-06 08:27] #182 closed

[2020-03-19 14:04] flopown opened #183 "Build error Release 0.3.10 (ImageWrapper.h)"
- Operating System: Windows 10
- UE4 Version: 4.18.3
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python3
- Problem Description: Build error

When I tried to build the 0.3.10 release, I kept getting a build error. It seems that doesn't exist gets included. The file in question is `ImageWrapper.h`

- steps to reproduce:
1. download release 0.3.10
2. attempt to build
3. error occurs

[2020-03-29 20:42] Alphaplo opened #184 "color of object mask"
- Operating System: win10
- UE4 Version:4.16
- UnrealCV Version:0.3.10
- Client (python2, 3 or matlab):python 3
- Problem Description:
When I generate mask for objects, some objects are not shown with the correct color. For exemple, for an object designed a color 63 63 15, the color it shows in screen is 63 63 0. I noticed only the color channel with value 15 has this problem, all these channels w

[2020-04-29 18:35] vanbaarj opened #186 "UnrealCV Problems with UE 4.22.3"
- Operating System: Win 10, 64Bit
- UE4 Version: 4.22.3
- UnrealCV Version: various
- Client (python2, 3 or matlab): python2
- Problem Description:

I am able to compile the unrealcv-master for UE 4.22.3 only. However, for this version of the plugin I run into issues with the object_mask not working (getting some gray valued scene instead) and the depth image that is written to file is binary (jus

[2020-05-04 16:11] charleshamesse opened #187 "Possible to simulate motion blur?"
- Operating System: Ubuntu 18.04
- UE4 Version: 4.22.3
- UnrealCV Version: 0.3.10
- Client (python2, 3 or matlab): python3
- Problem Description:
I'm working on measuring the impact of motion blur for various computer vision tasks. I would like to simulate motion blur with UnrealCV. I can successfully change camera poses and grab images, but it seems that each capture is done independently, so the

[2020-05-28 00:35] UnrealLib opened #188 "Do you have plan to provide FFI for languages other than Python 2/3 or C++?"
[NM]

[2020-06-18 13:25] blukaz commented on #155
@qiuwch Do you have any update on this issue?
The object_mask doesn't work with the "cable actor" as well.

[2020-07-10 03:17] yellowYuga opened #189 "Fatal error when vset /action/eyes_distance [eye_distance]"
- Operating System:WIndows 10
- UE4 Version:4.21
- UnrealCV Version:3.10
- Client (python2, 3 or matlab):python3
- Problem Description:When vset /action/eyes_distance [eye_distance],programe crashed both in plugin mode or binary mode.
Here is some error info by binary mode:

[code]

[2020-07-10 04:10] yellowYuga commented on #189
Problem sovled by set EnableRightEye=True

[2020-07-10 04:10] #189 closed

[2020-07-13 09:44] Jima777 commented on #174
you can try to give it the absolute path like this:
traj_file = r'C:\Users\ABC\unrealcv-master\docs\tutorials/camera_traj.json' # Relative to this python script

[2020-07-16 01:20] yellowYuga opened #190 "Command "vget /camera/[id]/plane_depth npy" return Null data"
- Operating System:Windows10
- UE4 Version:4.21.2
- UnrealCV Version:3.10
- Client (python2, 3 or matlab):python3
- Problem Description:
When ：
“res=client.request('vget /camera/0/plane_depth npy')”
The socket returns just ‘ok’，the response do not contain any img data or npy data.

[2020-07-24 04:28] jas0n1ee opened #191 "does defualt camera have vignetting and how to disable it"
- Operating System: Linux
- UE4 Version: 0.3.10
- UnrealCV Version:
- Client (python2, 3 or matlab): python3
- Problem Description:
I'm trying to use unrealcv to render some 360 panoramas by rendering 6 different angle photos with the same location but 6 different poses using 120 fov camera settings. When I warp and map these images to an equirectangular frame, I notice the brightness of the overl

[2020-07-24 05:15] qiuwch commented on #191
Hi, @jas0n1ee

The rendering flag of the camera can be controlled in this line, which requires you to change the cpp code, it is not available through python. https://github.com/unrealcv/unrealcv/blob/master/Source/UnrealCV/Private/GTCaptureComponent.cpp#L150

Here is a complete list of all possible flags.
https://docs.unrealengine.com/en-US/API/Runtime/Engine/FEngineShowFlags/index.html

Probably

[2020-07-24 05:19] qiuwch commented on #186
This is an issue posted long ago and sorry for not responding to it timely. I am personally using the 4.22 branch in Linux and Mac with UE4.22.

If anyone else came across the same issue as reported here, feel free to leave comments here.

[2020-08-07 15:02] such8 commented on #178
I was having the same issue, this worked perfectly for me. Thanks for posting your solution!

[2020-08-14 07:36] JumpXing opened #192 "package failed when enable the unrealcv plugin"
- Operating System:Windows
- UE4 Version:4.16
- UnrealCV Version:v0.3.10
- Client (python2, 3 or matlab):python3.7
- Problem Description:
Hello. I use UE4 Editor to package a game successfully. But when I enable the unrealcv plugin, the package operation is failed.
the output lag:
UATHelper: 打包 (Windows (64位)): Project.Build: ********** BUILD COMMAND STARTED **********
UATHelper: 打包 (Windows (64位)

[2020-08-14 19:19] qiuwch commented on #192
The error shows "UATHelper: 打包 (Windows (64位)): UnrealBuildTool: ERROR: Multiple configurations specified on command line (first Test, then Development)".

What is the command you used to package the binary?

[2020-08-16 04:45] JumpXing commented on #192
Instead of a script/command, I use UE4 Editor to package a game.

I download compiled UnrealCV binaries(v0.3.10) and put the folder into the _Plugins_ folder. I think I had installed UnrealCV Plugin successfully and enabled it.  In a new ‘Blueprint - First Person’ project, I can use the command about unrealcv in UE4.

Then I added the line(r.ForceDebugViewModes = 1) to UE4 engine config file Engin

[2020-08-17 04:16] qiuwch commented on #192
I probably know why.

According to this line `UATHelper: 打包 (Windows (64位)): Program.Main: ERROR: AutomationTool terminated with exception: AutomationTool.CommandUtils+CommandFailedException: Command failed (Result:5): E:\Unreal Engine\UE_4.16\Engine\Binaries\DotNET\UnrealBuildTool.exe test Win64 Development -Project=E:\xjb\test\test.uproject  E:\xjb\test\test.uproject -NoUBTMakefiles  -remoteini=

[2020-08-17 06:47] JumpXing commented on #192
I created a file _firstdata_, but this mistake still exists.

The warning _Failed to begin reading directory changes for ../../../../../xjb2/firstdata/Plugins/. Error: 系统找不到指定的文件。 (0x00000002)_ shows that the system cannot find the specified file.
Does it miss any documents？
I have created a folder called _Plugins_ in my project folder and  put compiled UnrealCV binaries(v0.3.10) into the folder.

[2020-08-18 18:24] cloudlakecho commented on #14
@whastseven, Are you able to get information from specific camera in Python wrapper? It looks like we are not able to attain information in Python environment.,..Here are [others' experience](https://github.com/Microsoft/AirSim/issues/1289).